pre { background-color: #eeeeee; padding: 0.75em 1.5em; border: 1px solid #dddddd; }
.contents { float: right; background-color: #eeeeee; padding: 0.75em; margin: 0 0 0.75em 0.75em; border: 1px solid #dddddd; }
.contents ul { margin-left: 1.2em; margin-right: 0.75em; margin-bottom: 0; padding: 0; }

body, table { background-color: #dddddd; font-family: georgia, tahoma, verdana; font-size: 11px;  color: #000000; cursor: default; }
#main { }
#right { padding: 15px 15px 15px 15px; border: 1px solid #aca899; vertical-align: top; background-color: #ffffff; }
#left { width: 500px; padding: 15px 15px 15px 15px; border: 1px solid #aca899; vertical-align: top; background-color: #eeeeee; }