</div>
				</div>
			<span class="corners-bottom"><span></span></span>
		</div>
		</div>
	</div>
	<div id="page-footer">{POWERED_BY} <a href="http://mxpcms.sourceforge.net/" target="_mx-publisher" class="copyright">MX-Publisher (MXP)</a> {MX_VERSION} &copy; 2001-2008 <!-- IF PHPBB_BACKEND --> &amp; <a href="http://www.phpbb.com/" target="_phpbb" class="copyright">phpBB</a> {PHPBB_VERSION} &copy; 2001, 2003 phpBB Group <!-- ENDIF -->
		<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
		<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
		<!-- This displays generation info at the bottom of the page -->
		<br />{EXECUTION_STATS}
		<br />{MX_ADDITIONAL_FOOTER_TEXT}
	</div>
</div>
</body>
</html>