<table border="0" cellspacing="5" cellpadding="0" width="100%" id="main_table">
<tr>
	<!-- BEGIN layout_column -->
	<td style="width: <!-- IF layout_column.BLOCK_SIZE neq '100%' -->{layout_column.BLOCK_SIZE}px<!-- ENDIF -->; " valign="top" >
	<div class="tabulated">	
		<!-- BEGIN blocks -->
		<!-- BEGIN sub_start -->
		<table border="0" cellspacing="0" cellpadding="0" width="<!-- IF layout_column.BLOCK_SIZE neq '100%' -->{layout_column.BLOCK_SIZE}px<!-- ENDIF -->">
			<tr>
		<!-- END sub_start -->

			<!-- BEGIN sub_col -->
				{layout_column.blocks.sub_col.INNER_SPACE}
				<td class="{layout_column.blocks.sub_col.COL_CLASS}" width="<!-- IF layout_column.blocks.sub_col.BLOCK_SIZE neq '100%' -->{layout_column.blocks.sub_col.BLOCK_SIZE}<!-- ELSE -->100%<!-- ENDIF -->">
			<!-- END sub_col -->
					<!-- BEGIN show_title -->
					<div class="forabg" style="margin-bottom:0px;padding-bottom:0px;">
						<div class="inner">
							
					<!-- END show_title -->
		  						<!-- BEGIN block_header -->
								<ul class="topiclist">
		  						<!-- END block_header -->

									<!-- BEGIN edit -->
										<li style="float:right">
										<form method="post" id="edit-form" action="{layout_column.blocks.edit.EDIT_ACTION}" method="post" class="edit-icon">
										{layout_column.blocks.edit.EDIT_IMG}
										{layout_column.blocks.edit.S_HIDDEN_FORM_FIELDS}
										</form>
										</li>
										<!-- BEGIN hidden_block -->
										<li style="float:right">HB {layout_column.blocks.edit.hidden_block.HIDDEN_BLOCK}</li>
										<!-- END hidden_block -->
									<!-- END edit -->

									<!-- BEGIN show_title -->
										<li class="header">
										
										<dt class="icon header">
										{layout_column.blocks.show_title.L_TITLE}
										</dt>
										</li>{layout_column.blocks.BLOCK}
										<span class="content"></span>
										
									<!-- END show_title -->

								<!-- BEGIN block_header -->
								</ul>
								<!-- END block_header -->
					<!-- BEGIN show_title -->
						</div>
					</div>
					<!-- END show_title -->
					

					<!-- BEGIN block_stats -->
					<div align="right">
					<span class="copyright">{layout_column.blocks.block_stats.L_BLOCK_UPDATED}{layout_column.blocks.block_stats.EDITOR_NAME} ({layout_column.blocks.block_stats.EDIT_TIME})</span>
					</div>
					<br clear="all" />
					<!-- END block_stats -->

			<!-- BEGIN sub_col -->
				</td>
			<!-- END sub_col -->

		<!-- BEGIN sub_start -->
			</tr>
		</table>
		<!-- END sub_start -->
		<!-- END blocks -->
	</div></td>
	<!-- END layout_column -->
</tr>
</table>