#translator{
	float: right;
	margin-right: 5px;
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 10px;
}
.rtl #translator{
	float: left;
	margin-right: 15px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
}