<table class="table1 main_table" border="0" cellspacing="5" cellpadding="0" width="100%" id="main_table">
<tbody>
<tr>
	<!-- BEGIN layout_column -->
	<td style="width: <!-- IF layout_column.BLOCK_SIZE neq '100%' -->{layout_column.BLOCK_SIZE}px<!-- ENDIF -->; " valign="top">
		<!-- BEGIN blocks -->
		<!-- BEGIN sub_start -->
		<div border="0" cellspacing="0" cellpadding="0" width="<!-- IF layout_column.BLOCK_SIZE neq '100%' -->{layout_column.BLOCK_SIZE}px<!-- ENDIF -->">
		<ul id="nav-main" class="nav-main linklist" role="menubar">			
			<li class="tab<!-- IF l_block1.S_SELECTED --> activetab<!-- ENDIF -->">
		<!-- END sub_start -->
			<dt>&nbsp;</dt>
			<!-- BEGIN sub_col -->
			{layout_column.blocks.sub_col.INNER_SPACE}
			<dt class="{layout_column.blocks.sub_col.COL_CLASS}" width="<!-- IF layout_column.blocks.sub_col.BLOCK_SIZE neq '100%' -->{layout_column.blocks.sub_col.BLOCK_SIZE}<!-- ELSE -->100%<!-- ENDIF -->">
			<!-- END sub_col -->
					<!-- BEGIN show_title -->
					<div class="forabg" style="margin-bottom:0px;padding-bottom:0px;">
						<div class="inner">
							
					<!-- END show_title -->
		  						<!-- BEGIN block_header -->
								<ul class="forum-title bulletin responsive-show-inline-block dropdown-contents" role="menu">
		  						<!-- END block_header -->

									<!-- BEGIN edit -->
									<li id="edit" class="post-buttons editCP_switch" role="edit" style="float:right;margin-bottom:2px;padding-bottom:1px;font-size:8px;display: {layout_column.blocks.edit.EDITCP_SHOW};">
									
										<form action="{layout_column.blocks.edit.EDIT_ACTION}" method="post" class="forum-title submit-buttons">
										<fieldset>
										<!-- {layout_column.blocks.edit.EDIT_IMG} --> 
										<button class="button{catrow.CURRENT} editCP_switch" type="submit" title="{L_Block_Edit} :: {layout_column.blocks.edit.EDIT_BLOCK_TITLE} :: {layout_column.blocks.edit.EDIT_BLOCK_DESC}" style="font-size:9px;">
										<i class="fa fa-star-o" style="float:top;vertical-align: 25%;whitespace: false;" aria-hidden="false"></i>
										{L_EDIT}
										</button>
										{layout_column.blocks.edit.S_HIDDEN_FORM_FIELDS}
										</fieldset>
										</form>
									</li>
									<!-- BEGIN hidden_block -->
									<div class="responsive-show-inline-block" style="float:right">
									HB {layout_column.blocks.edit.hidden_block.HIDDEN_BLOCK}
									</div>
									<!-- END hidden_block -->
									<!-- END edit -->

									<!-- BEGIN show_title -->
									<div class="title bulletin responsive-show">
										{layout_column.blocks.show_title.L_TITLE}
									</div>
									<!-- END show_title -->

								<!-- BEGIN block_header -->
								</ul>
								<!-- END block_header -->
					<!-- BEGIN show_title -->
						
					</div>
					<!-- END show_title -->
					{layout_column.blocks.BLOCK}
					</div>
					<!-- BEGIN block_stats -->
					<div align="right" style="margin-top:0px;padding-top:0px;">
						<span class="copyright">{layout_column.blocks.block_stats.L_BLOCK_UPDATED} {layout_column.blocks.block_stats.EDITOR_NAME} ({layout_column.blocks.block_stats.EDIT_TIME})</span>
					</div>
					<br clear="all" />
					<!-- END block_stats -->

			<!-- BEGIN sub_col -->
				</dt>
			<!-- END sub_col -->
				<dt>&nbsp;</dt>
		<!-- BEGIN sub_start -->
			</li>
		</ul>			
		</div>
		<!-- END sub_start -->
		<!-- END blocks -->
	</td>
	<!-- END layout_column -->
	
</tr>
</tbody>
</table>