
<!-- DEFINE $LB_DISPLAY_LOGO = '1' -->

<!-- DEFINE $LB_LEFT_SIDEBAR_LAYOUT = '1' -->

<!-- DEFINE $LB_STICKY_HEADER = '0' -->

<!-- DEFINE $LB_COLLAPSIBLE_CATEGORIES = '0' -->

<!-- DEFINE $FACEBOOK_BUTTON = true -->
<!-- DEFINE $FACEBOOK_URL = 'https://facebook.com/' -->

<!-- DEFINE $YOUTUBE_BUTTON = true -->
<!-- DEFINE $YOUTUBE_URL = 'https://youtube.com/' -->

<!-- DEFINE $INSTAGRAM_BUTTON = true -->
<!-- DEFINE $INSTAGRAM_URL = 'https://instagram.com/' -->

<!-- DEFINE $TWITTER_BUTTON = true -->
<!-- DEFINE $TWITTER_URL = 'https://twitter.com/' -->

<!-- DEFINE $GOOGLE_PLUS_BUTTON = true -->
<!-- DEFINE $GOOGLE_PLUS_URL = 'https://plus.google.com/' -->

<!-- DEFINE $CUSTOM1_BUTTON = false -->
<!-- DEFINE $CUSTOM1_URL = 'http://linkhere.com' -->
<!-- DEFINE $CUSTOM1_ICON = 'icon-name' -->

<!-- DEFINE $CUSTOM2_BUTTON = false -->
<!-- DEFINE $CUSTOM2_URL = 'http://linkhere.com' -->
<!-- DEFINE $CUSTOM2_ICON = 'icon-name' --> 