<div class="navbar forabg block" role="navigation">
	<div class="inner bg1 post">
		<span class="corners-top"><span></span></span>
		
			<ul id="nav-main" class="topiclist forums nav-menu" style="margin-bottom:0px" role="menubar">
			<!-- BEGIN catrow -->
			
			<li class="separator"></li>			
			
			<li class="icon fa-pencil" style="padding-left: 10px;">
				<span style="cursor:pointer;padding-right:5px" onclick="mx_toggle(this, 'mxNavCat_{catrow.BLOCK_ID}{catrow.CAT_ID}', '{catrow.U_CAT_NAV_EXPAND}', '{catrow.U_CAT_NAV_CONTRACT}');">
						<img src="{catrow.U_CAT_NAV_DYNAMIC}" alt=""/>
				</span>
		           
			<a class="icon" href="javascript:void(0)">
			<strong>{catrow.CATEGORY_NAME}</strong>
			</a>

			<ul id="mxNavCat_{catrow.BLOCK_ID}{catrow.CAT_ID}" style="display: {catrow.CAT_SHOW};padding-left:10px;">
			<!-- BEGIN menurow -->
				<li class="button search-icon mnu-ov{catrow.menurow.CURRENT}">
					<a href="{catrow.menurow.U_MENU_URL}" style="background-image: url({catrow.menurow.MENU_ICON})">
						<i class="icon mnu-nm{catrow.menurow.CURRENT}"></i>						
						<span>{catrow.menurow.MENU_NAME}</span>
					</a>
				</li>
			<!-- END menurow -->
			</ul>
			</li>
			<!-- END catrow -->
			</ul>
		
	</div>
	<span class="corners-bottom"><span></span></span>
</div>