<style type="text/css">
.topiclist dd.posts_portal {
  float:left;
  text-align:left;
  font-size: 1.0em;
  padding:6px 5px 6px 5px;
}

</style>
<div class="forabg block">
	<div class="inner">

		<ul class="topiclist forums">
			<li style="padding-right:5px;white-space:nowrap;">
				<dl>
					<dd class="posts_portal">
					<!-- BEGIN modulerow -->
					<a class="nav" href="{modulerow.U_MENU_URL}">{modulerow.MENU_NAME}</a><br />
					<!-- END modulerow -->
					</dd>
				</dl>
			</li>
		</ul>
<span class="corners-bottom"><span></span></span>
</div>
</div>