<div class="clear" style="width:{BLOCK_SIZE}; vertical-align:top; display:block"></div>
<div class="forabg block">
	<div id="p1" class="post bg2 online">
		<div class="inner"><span class="corners-top"><span>&nbsp;{BLOCK_TITLE}&nbsp;</span></span>
<!-- Clock Code: Start -->
		<dl class="textbody">		
			<div id="title" style="text-align: center;">	  
				<h5><span class="topictitle">{CLOCK_NAME}</span></h5>
				<hr align="center" />
			</div>	
	<div class="row1" align="center" valign="middle">	
	<div id="flashplayer" align="center" style="background:{WMODE};">
<!-- Local Time Clock widget - HTML code - localtimes.info -->
		<div align="center" style="margin:15px 0px 0px 0px">
		<div align="center" style="width:140px;border:1px solid #ccc;background:#fff ;color: #fff ;font-weight:bold">
			<a style="padding:2px 1px;margin:2px 1px;font-size:13px;line-height:16px;font-family:arial;text-decoration:none;color:#A0l3200 ;" href="http://localtimes.info/{COMUNITY}/{COUNTRY}/{CITY}/"><img src="http://localtimes.info/images/countries/ro.png" border=0 style="border:0;margin:0;padding:0">&nbsp;&nbsp;{CITY} Time</a>
		</div>
	<!-- script type="text/javascript" src="http://localtimes.info/clock.php?continent={COMUNITY}&country={COUNTRY}&province={STATE}&city={CITY}&cp3_Hex=4C2100&cp2_Hex=FFF6F0&cp1_Hex=000080&fwdt={FLASH_WIDTH}" -->
	<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="250" height="62.5" id="clock_widget" align="middle"><param name="allowScriptAccess" value="always" />
		<param name="movie" value="http://localtimes.info/swf/clock_widget.swf" />
		<param name="menu" value="false" />
		<param name="quality" value="high" />
		<param name="scale" value="exactfit" />
		<param name="wmode" value="transparent" />
		<param name="FlashVars" value="UTCtime=5.5&ghb=0&colourScheme=&colourWidget=FFFFFF&colourTime=000000&target_url=http://localtimes.info/asia/India/New Delhi/widget/&ham=0&rnd=0&text1=New Delhi Time">
		<param name="bgcolor" value="#ffffff" />
		<embed src="http://localtimes.info/swf/clock_widget.swf" FlashVars="UTCtime=5.5&ghb=0&colourScheme=&colourWidget=FFFFFF&colourTime=000000&target_url=http://localtimes.info/asia/India//New Delhi/widget/&ham=0&sep=0&wek=0&wkf=0&mon=0&gid=0&rnd=0&text1=New Delhi Time" menu="false" wmode="transparent" quality="high" scale="exactfit" bgcolor="#ffffff" width="250" height="62.5" name="clock_widget" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
	</object>
	</div> 
<!-- Local Time Clock widget - HTML code - localtimes.info -->
	</div> 
	</div>		
		<div align="center">
			
		</div>
		</dl>
<!-- Clock Code: End -->		
	</div></div>     
   <span class="corners-bottom"><span></span></span>
</div>
