<!-- IF $P -->

#############################################
Style Configuation file for Administrators
#############################################

Options you can configure:

$P_DISPLAY_LOGO = Displays the logo image in the header. (Options: 1 = Show 0 = Hide)
$P_COLLAPSIBLE_CATEGORIES = Displays collapsible categories. (Options: 1 = Show 0 = Hide)
$P_PROFILE_SWITCHER = Displays the profile location switcher on viewtopic. (Options: 1 = Show 0 = Hide)
$P_VIEWFORUM_OPTIONS = Displays the viewforum options. (Options: 1 = Show 0 = Hide)
$P_SQUEEZED = Squeezes the top and bottom bar content to have the same width as the body. (Options: 1 = On 0 = Off)
$P_HEADERBAR_FIXED = Makes the top bar fixed. (Options: 1 = On 0 = Off)
$P_NIGHTMODE = Enables the night mode switch. (Options: 1 = On 0 = Off)
$P_COLOR_SWITCHER = Displays the color switcher. (Options: 1 = Show 0 = Hide)
$P_DEFAULT_COLOR = Chooses the default color. NOTE: Color Switcher must be set to 0 for this to work. (Options: blue, green, pink, purple, red)

Make changes below:
<!-- ENDIF -->

<!-- DEFINE $P_DISPLAY_LOGO = '1' -->
<!-- DEFINE $P_COLLAPSIBLE_CATEGORIES = '1' -->
<!-- DEFINE $P_PROFILE_SWITCHER = '1' -->
<!-- DEFINE $P_VIEWFORUM_OPTIONS = '1' -->
<!-- DEFINE $P_SQUEEZED = '0' -->
<!-- DEFINE $P_HEADERBAR_FIXED = '0' -->
<!-- DEFINE $P_NIGHTMODE = '1' -->
<!-- DEFINE $P_COLOR_SWITCHER = '0' -->
<!-- DEFINE $P_DEFAULT_COLOR = 'green' -->