<!DOCTYPE html>
<html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="robots" content="noindex" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{META}
{NAV_LINKS}

<title>{SITENAME} &bull; {PAGE_TITLE}</title>

<link href="{T_THEME_PATH}/print.css" rel="stylesheet" />
<link href="{T_THEME_PATH}/bidi.css" rel="stylesheet" />
<!-- EVENT viewtopic_print_head_append -->

{MX_ADDITIONAL_CSS}
{MX_ADDITIONAL_CSS_FILES}
{MX_ICON_CSS}
{$STYLESHEETS}

{MX_ADDITIONAL_JS_FILES}
{MX_ADDITIONAL_HEADER_TEXT}
</head>
<body id="phpbb" class="{S_CONTENT_DIRECTION}">
<div id="wrap" class="wrap">
	<a id="top" class="top-anchor" accesskey="t"></a>

	<div id="page-header">
		<h1>{SITENAME}</h1>
		<p>{SITE_DESCRIPTION}<br /></p>

	</div>
