<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{S_CONTENT_DIRECTION}" xml:lang="{S_USER_LANG}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={S_CONTENT_ENCODING}" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<!-- IF SET_BASE --><base href="{U_PORTAL_ROOT_PATH}" /><!-- ENDIF -->
{META}
{NAV_LINKS}
<title>{SITENAME} :: {PAGE_TITLE}</title>

<!-- This should not be included direct from phpBB but later from MXP template folder wich means can be ported to internal backend with no change in this file -->
<!-- IF PHPBB -->
<!-- link rel="stylesheet" href="{U_PHPBB_ROOT_PATH}styles/prosilver/theme/stylesheet.css" type="text/css" / -->
<!-- ENDIF -->

<!-- This force template reloading in ie7 like CTRL+F5 does and is not very nice
<script type="text/javascript" src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}styleswitcher.js"></script>
-->
<script type="text/javascript" src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}forum_fn.js"></script>

<link href="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}theme/print.css" rel="stylesheet" type="text/css" media="print" title="printonly" />
<link href="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}{T_MXBB_STYLESHEET}" rel="stylesheet" type="text/css" media="screen, projection" />

<link href="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}theme/normal.css" rel="stylesheet" type="text/css" title="A" />
<link href="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}theme/medium.css" rel="alternate stylesheet" type="text/css" title="A+" />
<link href="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}theme/large.css" rel="alternate stylesheet" type="text/css" title="A++" />

<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
	<link href="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}theme/bidi.css" rel="stylesheet" type="text/css" media="screen, projection" />
<!-- ENDIF -->

<!-- IF GECKO -->
<!-- Optionally, redefine some defintions for gecko browsers -->
<link rel="stylesheet" href="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}{T_GECKO_STYLESHEET}" type="text/css" />
<!-- ENDIF -->

{MX_ADDITIONAL_CSS}
{MX_ADDITIONAL_CSS_FILES}
{MX_ICON_CSS}

<!-- IF ENABLE_PM_POPUP -->
<script type="text/javascript"><!--
	if( {PRIVATE_MESSAGE_NEW_FLAG} )
	{
		window.open('{U_PRIVATEMSGS_POPUP}', '_phpbbprivmsg', 'HEIGHT=225,resizable=yes,WIDTH=400');
	}
// --></script>
<!-- ENDIF -->

<script type="text/javascript"><!--

function checkSearch()
{
	if (document.search_block.search_engine.value == 'google')
	{
		window.open('http://www.google.com/search?q=' + document.search_block.search_keywords.value, '_google', '');
		return false;
	}
	else if (document.search_block.search_engine.value == 'site')
	{
		window.open('{U_SEARCH_SITE}&search_keywords=' + document.search_block.search_keywords.value, '_self', '');
		return false;
	}
	else if (document.search_block.search_engine.value == 'kb')
	{
		window.open('{U_SEARCH_KB}&search_keywords=' + document.search_block.search_keywords.value, '_self', '');
		return false;
	}
	else if (document.search_block.search_engine.value == 'pafiledb')
	{
		window.open('{U_SEARCH_PAFILEDB}&search_keywords=' + document.search_block.search_keywords.value, '_self', '');
		return false;
	}
	else
	{
		return true;
	}
}

// --></script>

<script type="text/javascript" src="{U_PORTAL_ROOT_PATH}modules/mx_shared/lib/Common.js"></script>
<script type="text/javascript" src="{U_PORTAL_ROOT_PATH}modules/mx_shared/lib/Toggle.js"></script>

{MX_ADDITIONAL_JS_FILES}
{MX_ADDITIONAL_HEADER_TEXT}

</head>
<body id="mxbb" class="section-index {S_CONTENT_DIRECTION}">
<div id="mx-wrap">
<a id="top"></a>
	<div id="mx-page-header" style="margin-bottom:0px;padding-bottom:0px;">
		<div class="headerbar" style="margin-bottom:0px;padding-bottom:0px;">
			<div class="inner">
			<span class="corners-top"><span></span></span>
			<div style="float:right;padding-top:1em">
				{PAGE_ICON}
			</div>
			<div style="float:right;text-align:right;">
				<h1>{PAGE_TITLE}</h1>
				<p>{PAGE_DESCRIPTION}</p>
			</div>
			<div id="site-description" style="float:left">
				<a href="{U_INDEX}" title="{L_INDEX}" id="logo"><img src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}images/logo.gif" alt="{L_INDEX}" /></a>
				<h1>{SITENAME}</h1>
				<p>{SITE_DESCRIPTION}</p>
				<p style="display: none;"><a href="#start_here">{L_SKIP}</a></p>
			</div>
			<span class="corners-bottom" style="height:0px;margin:0px;padding:0px;"><span></span></span>
		</div>
	</div>
	<div class="navbar sitebar" style="clear:both;">
		<div style="float:right;padding-top:1px;width:150px;">
			<form action="{U_SEARCH}" method="get" id="nav-search">
				<fieldset>
					<input name="keywords" id="keywords" type="text" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="inputbox search" value="{L_SEARCH}..." onclick="if(this.value=='{L_SEARCH}...')this.value='';" onblur="if(this.value=='')this.value='{L_SEARCH}...';" />
					<input class="button2" value="{L_SEARCH}" type="submit" style="display:none" />
					<!-- a href="{U_SEARCH}" title="{L_SEARCH_ADV_EXPLAIN}">{L_SEARCH_ADV}</a -->
					{S_SEARCH_HIDDEN_FIELDS}
				</fieldset>
			</form>
		</div>
		{OVERALL_NAVIGATION}
		<span class="corners-bottom"><span></span></span>
	</div>
	<div style="position:relative;height:5px;margin-top:-5px;background-color:White;"></div>
	<div class="navbar">
		<div class="inner">
			<span class="corners-top"><span></span></span>
				<ul class="linklist navlinks" style="font-weight:normal;margin-top:0px;padding-top:0px;">
						<li class="icon-home"><a href="{U_INDEX}" title="{L_INDEX}"><strong>{L_INDEX}</strong></a></li>
						<li class="icon-help">Pages navigation, eg. forum navigation, like pafiledb navigation</li>
						<li class="rightside"><a href="#" onclick="fontsizeup(); return false;" class="fontsize" title="{L_FONTSIZE_CHANGE}">{L_FONSIZE_CHANGE}</a></li>
				</ul>
				<ul class="linklist rightside">
						<li class="icon-faq"><a href="{U_FAQ}">{L_FAQ}</a></li>
						<!-- IF USER_LOGGED_IN -->
						<li class="icon-members"><a href="{U_MEMBERLIST}">{L_MEMBERLIST}</a></li>
						<!-- ENDIF -->
						<!-- IF USER_LOGGED_OUT -->
						<li class="icon-register"><a href="{U_REGISTER}" class="mainmenu">{L_REGISTER}</a></li>
						<!-- ENDIF -->
						<li class="icon-logout"><a href="{U_LOGIN_LOGOUT}">{L_LOGIN_LOGOUT}</a></li>
				</ul>
				<!-- IF USER_LOGGED_IN -->
				<ul class="linklist leftside">
						<li class="icon-ucp"><a href="{U_PROFILE}">{L_PROFILE}</a></li>
						<li class="icon-msgs"><a href="{U_PRIVATEMSGS}">{L_PRIVATEMSGS}</a></li>
				</ul>
				<!-- ENDIF -->
				<span class="corners-bottom"><span></span></span>
		</div>
	</div>
			<!-- IF PHPBB_STATS -->
				<ul class="linklist">
				<!-- IF USER_LOGGED_IN -->
				<li class="rightside">{LAST_VISIT_DATE}</li>
				<!-- ENDIF -->
				<li class="leftside">{CURRENT_TIME}</li>
				</ul>
				<ul class="linklist">
					<li class="rightside">
						<!-- IF USER_LOGGED_IN -->
						<a href="{U_SEARCH_NEW}" class="gensmall">{L_SEARCH_NEW}</a> &bull; <a href="{U_SEARCH_SELF}" class="gensmall">{L_SEARCH_SELF}</a> &bull;
						<!-- ENDIF -->
						<a href="{U_SEARCH_UNANSWERED}" class="gensmall">{L_SEARCH_UNANSWERED}</a>
					</li>
					<!--<li class="rightside"><a href="{U_MARK_FORUMS}" accesskey="m">{L_MARK_FORUMS_READ}</a></li> -->
				</ul>
			<!-- ENDIF -->
	</div>
	<div id="mx-page-body">