<script type="text/javascript">
function menuCat(id, mode, visible)
{
	this.cat_id = id;
	this.menu_mode = mode;
	this.status = visible != '' ? visible : 'none';
}
var menuCats = new Array();

<!-- BEGIN module -->
menuCats['adminModule_{module.MODULE_ID}'] = new menuCat('{module.MODULE_ID}', 'adminModule_', '{module.VISIBLE}');
menuCats['adminModuleUpgrade_{module.MODULE_ID}'] = new menuCat('{module.MODULE_ID}', 'adminModuleUpgrade_', '{module.VISIBLE_UPGRADE}');
menuCats['adminModuleExport_{module.MODULE_ID}'] = new menuCat('{module.MODULE_ID}', 'adminModuleExport_', '{module.VISIBLE_EXPORT}');
menuCats['adminModuleDelete_{module.MODULE_ID}'] = new menuCat('{module.MODULE_ID}', 'adminModuleDelete_', '{module.VISIBLE_DELETE}');
<!-- END module -->

function getObj(obj)
{
	return ( document.getElementById ? document.getElementById(obj) : ( document.all ? document.all[obj] : null ) );
}
function displayObj(obj, status)
{
	var x = getObj(obj);
	if( x && x.style ) x.style.display = status;
}

var queueInterval = 0;		// milliseconds between queued steps.
var execInterval = 0;
var queuedSteps;
var currentStep;

function queueStep(o, s)
{
	this.obj = o;
	this.status = s;
}

function execQueue()
{
	if( currentStep < queuedSteps.length )
	{
		var obj = queuedSteps[currentStep].obj;
		var status = queuedSteps[currentStep].status;
		displayObj(obj, status);
		if( menuCats[obj] ) menuCats[obj].status = status;
		currentStep++;
		setTimeout("execQueue();", execInterval);
	}
	else
	{
		execInterval = queueInterval;
	}
}

function onMenuCatClick(cat_id, type, init)
{
	var currentCat, currentStatus;
	var imageSCR = type+'image_'+cat_id;
	var strSubmitContent = '';

	parentCatMode = 'adminModule_';
	parentCat = parentCatMode + cat_id;

	currentCat = type + cat_id;

	currentStatus = menuCats[currentCat].status;

	queuedSteps = new Array();
	cookieArray = new Array();

	currentStep = 0;

	for( var forCat in menuCats )
	{
		if( (init == 'true' && (menuCats[forCat].status == 'block') && menuCats[forCat].menu_mode == parentCatMode) ||
			(init != 'true' &&
				( 	(menuCats[forCat].status == 'block') 	)))
		{
			queuedSteps[currentStep++] = new queueStep(forCat, 'none');
			menuCats[forCat].status = 'none';

			forCatimage = menuCats[forCat].menu_mode+'image_'+menuCats[forCat].cat_id;
			if( document.images && document.images[forCatimage] )
			{
				document.images[forCatimage].src = '{IMG_URL_EXPAND}';
			}
		}
	}

	if( currentStatus == 'none' )
	{

		queuedSteps[currentStep++] = new queueStep(currentCat, 'block');
		menuCats[currentCat].status = 'block';

		if (currentCat == parentCat)
		{
			var	expdate = new Date();		// 72 Hours from now
			expdate.setTime(expdate.getTime() + (72 * 60 * 60 * 1000));
			setCookie('{COOKIE_NAME}_'+type+'module_id', cat_id, expdate,
					('{COOKIE_PATH}'   == '') ? null : '{COOKIE_PATH}',
					('{COOKIE_DOMAIN}' == '') ? null : '{COOKIE_DOMAIN}',
					('{COOKIE_SECURE}' == '0') ? false : true);
		}

		if( document.images && document.images[imageSCR] )
		{
			document.images[imageSCR].src = '{IMG_URL_CONTRACT}';
		}
	}
	else
	{
		delCookie('{COOKIE_NAME}_'+type+'module_id',
				('{COOKIE_PATH}'   == '') ? null : '{COOKIE_PATH}',
				('{COOKIE_DOMAIN}' == '') ? null : '{COOKIE_DOMAIN}');
	}

	for( var forCat in menuCats )
	{
		if ( menuCats[forCat].status == 'block' )
		{
			strSubmitContent += forCat + ',';
		}
	}

	// Remove trailing separator
	strSubmitContent = strSubmitContent.substr(0, strSubmitContent.length - 1);

	setCookie('{COOKIE_NAME}_admincp_blockstates', strSubmitContent, expdate,
			('{COOKIE_PATH}'   == '') ? null : '{COOKIE_PATH}',
			('{COOKIE_DOMAIN}' == '') ? null : '{COOKIE_DOMAIN}',
			('{COOKIE_SECURE}' == '0') ? false : true);

	currentStep = 0;
	setTimeout("execQueue();", execInterval);
}

function doOnLoadMenuACP()
{
	var cat_id;

	if( getObj('adminModule_' + '{NAV_MODULE_ID}') )
	{
		if ( '{NAV_MODULE_ID}' > 0 )
		{
			cat_id = '{NAV_MODULE_ID}';
		}
		else
		{
			cat_id = getCookie('{COOKIE_NAME}_adminModule_module_id');
		}

		if( menuCats['adminModule_'+cat_id] )
		{
			menuCats['adminModule_'+cat_id].status = 'none';
			onMenuCatClick(cat_id, 'adminModule_', 'true');
		}
	}

	if( oldOnLoadMenuACP )
	{
		oldOnLoadMenuACP();
	}
}

function checkForm(form) {
   formErrors = '';
   if (form.module_name.value.length < 2) {
      formErrors += "Fill out the module title\r\n";
   }
   if (form.module_desc.value.length < 2) {
      formErrors += "Fill out the module description\r\n";
   }
   if (form.module_path.value.length < 2) {
      formErrors += "Fill out the module path\r\n";
   }

   if (formErrors) {
      alert(formErrors);
      return false;
   } else {
      return true;
   }
}

var	oldOnLoadMenuACP = window.onload;
window.onload = doOnLoadMenuACP;

// -->
</script>

<h1>{L_TITLE}</h1>

<p>{L_EXPLAIN}</p>

<div style="display:block;">
	<div id="quick_blocks" style="float:left;display:block;">
		<form action="{S_ACTION}" method="post">
		<fieldset>
			<legend>{L_IMPORT_PACK}</legend>
			<p>
			{S_MODULE_INSTALL_LIST}
			{S_HIDDEN_MODULE_INSTALL_FIELDS}
			<input class="button2" type="submit" name="import_pack" value="{L_IMPORT_PACK}">
			</p>
		</fieldset>
		</form>
	</div>
	<div id="quick_blocks" style="float:right;">
	<form method="post" name="jumpbox" action="{S_ACTION}">
	<fieldset style="white-space:nowrap;">
		<legend>{L_QUICK_NAV}</legend>
		<p>
		{MODULE_SELECT_BOX}
		<input type="submit" value="{S_SUBMIT}" class="button2" />
		</p>
	</fieldset>
	</form>
	</div>
</div>
<p style="clear:both"></p>
<div class="panel">
	<span class="corners-top"><span></span></span>
	<div class="acp">
	<div class="inner bg3" style="margin:1.0em;">
	<div>{RESULT_MESSAGE}</div>
	<!-- BEGIN module -->
		<div style="display:block;border-top:solid 1px #CCCCCC;clear:both;margin-top:0.1em;">
			<div style="display:block;clear:both;margin-top:2px;">
				<div style="float:left;width:40%;margin-top:0.3em;">
					<div style="float:left">
					<img name="adminModule_image_{module.MODULE_ID}" id="adminModule_image_{module.MODULE_ID}" src="{module.IMG_URL}" border="0" align="middle">
					<span style="cursor:pointer" onclick="onMenuCatClick('{module.MODULE_ID}','adminModule_');"><img src="{IMG_ICON_MODULE}" border="0" align="middle" alt="" /></span>
					</div>
					<div style="float:left;margin-left:6px;">
					<a href="javascript:onMenuCatClick('{module.MODULE_ID}','adminModule_');">{module.MODULE_TITLE}</a><br/>
					<span class="explain">{module.MODULE_DESCRIPTION}</span> &nbsp;
					<i>{module.MODULE_VERSION}</i>
					</div>
				</div>
				<div style="float:right;width:50%;margin-top:0.3em;text-align:right;">
					<!-- BEGIN settings -->
					<span style="display:none">
						<img src="{IMG_URL_EXPAND}" border="0" align="middle">&nbsp;
						<a href="{module.U_MODULE}">{L_SETTING}</a>
					</span>
					<a href="{module.U_MODULE}" title="{L_SETTINGS}"><img src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}images/admin_icons/icon_edit.gif" align="absmiddle"></a>
					<!-- END settings -->
					<!-- BEGIN settings -->
					<span style="display:none">
						<span style="cursor:pointer;" onclick="onMenuCatClick('{module.MODULE_ID}','adminModuleUpgrade_');">
						<img name="adminModuleUpgrade_image_{module.MODULE_ID}" src="{module.IMG_URL_UPGRADE}" border="0" align="middle">
						</span>
						<a href="javascript:onMenuCatClick('{module.MODULE_ID}','adminModuleUpgrade_');">{L_UPGRADE_PACK}</a>
					</span>
					<a href="javascript:onMenuCatClick('{module.MODULE_ID}','adminModuleUpgrade_');" title="{L_UPGRADE_PACK}"><img src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}images/admin_icons/icon_upgrade.gif" align="absmiddle"></a>
					<!-- END settings -->
					<!-- BEGIN settings -->
					<span style="display:none">
						<span style="cursor:pointer;" onclick="onMenuCatClick('{module.MODULE_ID}','adminModuleExport_');">
						<img name="adminModuleExport_image_{module.MODULE_ID}" src="{module.IMG_URL_EXPORT}" border="0" align="middle">
						</span>
						<a href="javascript:onMenuCatClick('{module.MODULE_ID}','adminModuleExport_');">{L_EXPORT_PACK}</a>
					</span>
					<a href="javascript:onMenuCatClick('{module.MODULE_ID}','adminModuleExport_');" title="{L_EXPORT_PACK}"><img src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}images/admin_icons/icon_export.gif" align="absmiddle"></a>
					<!-- END settings -->
					<!-- BEGIN settings -->
					<span style="display:none">
						<span style="cursor:pointer" onclick="onMenuCatClick('{module.MODULE_ID}','adminModuleDelete_');">
						<img name="adminModuleDelete_image_{module.MODULE_ID}" src="{module.IMG_URL_DELETE}" border="0" align="middle">
						</span>
						<a href="javascript:onMenuCatClick('{module.MODULE_ID}','adminModuleDelete_');">{L_UNINSTALL}</a>
					</span>
					<a href="javascript:onMenuCatClick('{module.MODULE_ID}','adminModuleDelete_');" title="{L_UNINSTALL}"><img src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}images/admin_icons/icon_delete.gif" align="absmiddle"></a>
					<!-- END settings -->
				</div>
			</div>
			<!-- MODUL Delete -->
			<div id="adminModuleDelete_{module.MODULE_ID}" style="clear:both;padding-top:1.0em;display:{module.VISIBLE_DELETE};">
			 	<fieldset>
					<legend style="cursor:pointer;" onclick="onMenuCatClick('{module.MODULE_ID}','adminModuleDelete_');">
						<img src="{IMG_URL_CONTRACT}" border="0" align="left">&nbsp;{L_UNINSTALL}
					</legend>
					<p>
						{module.MESSAGE_DELETE}
					</p>
				</fieldset>
			</div>
			<!-- MODUL Export -->
			<div id="adminModuleExport_{module.MODULE_ID}" style="clear:both;padding-top:1.0em;display:{module.VISIBLE_EXPORT};">
			 	<fieldset>
					<legend style="cursor:pointer" onclick="onMenuCatClick('{module.MODULE_ID}','adminModuleExport_');">
					  	<img src="{IMG_URL_CONTRACT}" border="0" align="middle">&nbsp;{L_EXPORT_PACK}
					</legend>
					<p>
						{module.MESSAGE_EXPORT}
					</p>
				</fieldset>
			</div>
			<!-- MODUL Update -->
			<div id="adminModuleUpgrade_{module.MODULE_ID}" style="clear:both;padding:1.0em;display:{module.VISIBLE_UPGRADE};">
			 	<fieldset>
					<legend style="cursor:pointer;" onclick="onMenuCatClick('{module.MODULE_ID}','adminModuleUpgrade_');">
						<img src="{IMG_URL_CONTRACT}" border="0" align="middle">&nbsp;{L_UPGRADE_PACK}
					</legend>
					<p>
						{module.MESSAGE_UPGRADE}
					</p>
				</fieldset>
			</div>
			<!-- MODUL Settings -->
			<div id="adminModule_{module.MODULE_ID}" style="clear:both;padding:1.0em;padding-top:0.2em;display:{module.VISIBLE};">
				<form action="{S_ACTION}" onsubmit="return checkForm(this)" name="post" method="post">
				<fieldset>
					<legend style="cursor:pointer;" onclick="onMenuCatClick('{module.MODULE_ID}','adminModule_');">
					 <img src="{IMG_URL_CONTRACT}" border="0" align="middle">&nbsp;{module.L_TITLE}
					</legend>
					<dl>
						<dt><label for="module_name_{module.MODULE_ID}">{L_MODULE_NAME}</label></dt>
						<dd><input type="text" size="50" name="module_name" id="module_name_{module.MODULE_ID}" value="{module.E_MODULE_NAME}" /></dd>
					</dl>
					<dl>
						<dt><label for="module_desc_{module.MODULE_ID}">{L_MODULE_DESC}</label></dt>
						<dd><input type="text" size="50" name="module_desc" id="module_desc_{module.MODULE_ID}" value="{module.E_MODULE_DESC}" /></dd>
					</dl>
					<dl>
						<dt><label for="module_path_{module.MODULE_ID}">{L_MODULE_PATH}</label></dt>
						<dd><input type="text" size="50" name="module_path" id="module_path_{module.MODULE_ID}" value="{module.E_MODULE_PATH}" /></dd>
					</dl>
					<dl>
						<dt><label for="module_include_admin_{module.MODULE_ID}">{L_MODULE_INCLUDE_ADMIN}</label></dt>
						<dd><input type="checkbox" name="module_include_admin" id="module_include_admin_{module.MODULE_ID}" value="1" {module.E_MODULE_INCLUDE_CHECK_OPT} /></dd>
					</dl>
					<p align="center">{module.S_HIDDEN_FIELDS}
						<input type="submit" name="submit" value="{module.S_SUBMIT}" class="button1" />
					</p>
				</fieldset>
				</form>
			</div>
		</div>
	<!-- END module -->
	</div>
	<span class="corners-bottom"><span></span></span>
</div>
<p></p>
