<!-- BEGIN dynamic_select -->
<script type="text/javascript" src="{MX_DYN_PATH}modules/mx_shared/lib/DynamicOptionList_comp.js"></script>
<script id="DYNAMIC_LIST">
<!--
window.onload = initDynamicOptionLists;
var makeModule = new DynamicOptionList("module_id","function_id","block_id");
{DYNAMIC_FUNCTION_SETUP}
{DYNAMIC_BLOCK_SETUP}
{DYNAMIC_DEFAULT_SETUP}
// -->
</script>
<!-- END dynamic_select -->

<script language="javascript" type="text/javascript">
<!--
function blockcp_getCookie(name)
{
	var cookies = document.cookie;
	var start = cookies.indexOf(name + '=');
	if( start < 0 ) return null;
	var len = start + name.length + 1;
	var end = cookies.indexOf(';', len);
	if( end < 0 ) end = cookies.length;
	return unescape(cookies.substring(len, end));
}

function blockcp_setCookie(name, value, expires, path, domain, secure)
{
	document.cookie = name + '=' + escape (value) +
		((expires) ? '; expires=' + ( (expires == 'never') ? 'Thu, 31-Dec-2099 23:59:59 GMT' : expires.toGMTString() ) : '') +
		((path)    ? '; path='    + path    : '') +
		((domain)  ? '; domain='  + domain  : '') +
		((secure)  ? '; secure' : '');
}

function blockcp_delCookie(name, path, domain)
{
	if( blockcp_getCookie(name) )
	{
		document.cookie = name + '=;expires=Thu, 01-Jan-1970 00:00:01 GMT' +
			((path)    ? '; path='    + path    : '') +
			((domain)  ? '; domain='  + domain  : '');
	}
}

function blockcp_menuCat(id, mode, visible)
{
	this.cat_id = id;
	this.menu_mode = mode;
	this.status = visible != '' ? visible : 'none';
}
var blockcp_menuCats = new Array();

blockcp_menuCats['adminBlockCP_general_add'] = new blockcp_menuCat('general_add', 'adminBlockCP_', '{VISIBLE_GENERAL_ADD}');
blockcp_menuCats['adminBlockCP_general'] = new blockcp_menuCat('general', 'adminBlockCP_', '{VISIBLE_GENERAL}');
blockcp_menuCats['adminBlockCP_settings'] = new blockcp_menuCat('settings', 'adminBlockCP_', '{VISIBLE_SETTINGS}');
blockcp_menuCats['adminBlockCP_private'] = new blockcp_menuCat('private', 'adminBlockCP_', '{VISIBLE_PRIVATE}');
blockcp_menuCats['adminBlockCP_delete'] = new blockcp_menuCat('delete', 'adminBlockCP_', '{VISIBLE_DELETE}');

function blockcp_getObj(obj)
{
	return ( document.getElementById ? document.getElementById(obj) : ( document.all ? document.all[obj] : null ) );
}

function displayObj(obj, status)
{
	var x = blockcp_getObj(obj);
	if( x && x.style ) x.style.display = status;
}

var blockcp_queueInterval = 0;		// milliseconds between queued steps.
var blockcp_execInterval = 0;
var blockcp_queuedSteps;
var blockcp_currentStep;

function blockcp_queueStep(o, s)
{
	this.obj = o;
	this.status = s;
}

function blockcp_execQueue()
{
	if( blockcp_currentStep < blockcp_queuedSteps.length )
	{
		var obj = blockcp_queuedSteps[blockcp_currentStep].obj;
		var status = blockcp_queuedSteps[blockcp_currentStep].status;
		displayObj(obj, status);
		if( blockcp_menuCats[obj] ) blockcp_menuCats[obj].status = status;
		blockcp_currentStep++;
		setTimeout("blockcp_execQueue();", blockcp_execInterval);
	}
	else
	{
		blockcp_execInterval = blockcp_queueInterval;
	}
}

function blockcp_onMenuCatClick(cat_id, type, init)
{
	var currentCat, currentStatus;
	var imageSCR = type+'image_'+cat_id;

	parentMode = 'adminBlockCP_';

	parentCat = parentMode + cat_id;

	currentCat = type + cat_id;

	currentStatus = blockcp_menuCats[currentCat].status;

	blockcp_queuedSteps = new Array();
	cookieArray = new Array();

	blockcp_currentStep = 0;

	for( var forCat in blockcp_menuCats )
	{
		if( (init == 'true' && (blockcp_menuCats[forCat].status == 'block') && blockcp_menuCats[forCat].menu_mode == parentMode) ||
			(init != 'true' &&
				( 	(currentCat == parentCat && blockcp_menuCats[forCat].status == 'block' )  )))
		{
			blockcp_queuedSteps[blockcp_currentStep++] = new blockcp_queueStep(forCat, 'none');
			blockcp_menuCats[forCat].status = 'none';

			forCatimage = blockcp_menuCats[forCat].menu_mode+'image_'+blockcp_menuCats[forCat].cat_id;
			if( document.images && document.images[forCatimage] )
			{
				document.images[forCatimage].src = '{IMG_URL_EXPAND}';
			}
		}
	}

	if( currentStatus == 'none' )
	{
		if (blockcp_menuCats[parentCat])
		{
			if (blockcp_menuCats[parentCat].status == 'none')
			{
				blockcp_queuedSteps[blockcp_currentStep++] = new blockcp_queueStep(parentCat, 'block');
				blockcp_menuCats[parentCat].status = 'block';

				forCatimage = blockcp_menuCats[parentCat].menu_mode+'image_'+blockcp_menuCats[parentCat].cat_id;
				if( document.images && document.images[forCatimage] )
				{
					document.images[forCatimage].src = '{IMG_URL_CONTRACT}';
				}
			}
		}

		blockcp_queuedSteps[blockcp_currentStep++] = new blockcp_queueStep(currentCat, 'block');
		blockcp_menuCats[currentCat].status = 'block';

		if (currentCat == parentCat)
		{
			var	expdate = new Date();		// 72 Hours from now
			expdate.setTime(expdate.getTime() + (72 * 60 * 60 * 1000));
			blockcp_setCookie('{COOKIE_NAME}_'+type+'mode', cat_id, expdate,
				('{COOKIE_PATH}'   == '') ? null : '{COOKIE_PATH}',
				('{COOKIE_DOMAIN}' == '') ? null : '{COOKIE_DOMAIN}',
				('{COOKIE_SECURE}' == '0') ? false : true);
		}

		if( document.images && document.images[imageSCR] )
		{
			document.images[imageSCR].src = '{IMG_URL_CONTRACT}';
		}
	}
	else
	{
		blockcp_delCookie('{COOKIE_NAME}_'+type+'mode',
				('{COOKIE_PATH}'   == '') ? null : '{COOKIE_PATH}',
				('{COOKIE_DOMAIN}' == '') ? null : '{COOKIE_DOMAIN}');
	}

	blockcp_currentStep = 0;
	setTimeout("blockcp_execQueue();", blockcp_execInterval);
}

function require_refresh()
{
	displayObj('adminBlockCP_require_refresh', 'none');
	displayObj('adminBlockCP_require_refresh_info', 'block');
}

function checkForm(form)
{
   var formErrors = '';

   if (form.block_title.value.length < 2)
   {
      	formErrors += "Fill out the block title\r\n";
   }

   if (formErrors && do_check)
   {
   		do_check = false
      	alert(formErrors);
      	return false;
   }
   else
   {
      	return true;
   }
}

function preFormCheck()
{
	do_check = true;
}

// -->
</script>

<!-- BEGIN mx_blockcp -->
<p></p>
<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
<!-- END mx_blockcp -->

<h1 class="blockcp">{L_TITLE}</h1>

<p>{L_EXPLAIN}</p>

<!-- BEGIN dynamic_select -->

<form name="DYNAMIC_LIST" method="post" action="{S_ACTION}">
<div id="quick_blocks">
	<div style="float:left;width:20%">
		<h3>{L_MODULE}</h3>
		<div>
		<select name="module_id" MULTIPLE size=5" style="width:100%" onClick="require_refresh();">
			{DYNAMIC_MODULE_SELECT}
		</select>
		</div>
	</div>
	<div style="float:left;margin-left:5px;width:25%">
		<h3>&raquo; {L_FUNCTION}</h3>
		<div>
		<select name="function_id" MULTIPLE size=5" style="width:100%" onClick="require_refresh();">
			<script type="text/javascript">makeModule.printOptions("function_id")</script>
		</select>
		</div>
	</div>
	<div style="float:left;margin-left:5px;width:30%">
		<h3>&raquo; {L_BLOCK}</h3>
		<div>
		<select name="block_id" size=5 style="width:100%" onClick="require_refresh();">
			<script type="text/javascript">makeModule.printOptions("block_id")</script>
		</select>
		</div>
	</div>
</div>
<div style="width:77%">
	<div style="float:right;"><br/>
		<input type="submit" value="{S_UPDATE}" class="button1" /> &nbsp;
		<input type="button" value="{S_RESET}" onClick="this.form.reset(); resetDynamicOptionLists(this.form);" class="button2">
		{S_HIDDEN_DYN_FILEDS}
	</div>
</div>
</form>
<!-- END dynamic_select -->
{POST_PREVIEW_BOX}
{ERROR_BOX}

{RESULT_MESSAGE}
	<p></p>
<!-- BEGIN mx_blockcp -->
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- END mx_blockcp -->
<br clear="all" />
<div id="adminBlockCP_require_refresh" style="display:block;">
<div id="tabs">
	<ul>
		<!-- BEGIN blockcp_general_adds -->
		<li id="adminBlockCP_general_add_tab"><img name="adminBlockCP_image_general_add" src="{IMG_URL_GENERAL_ADD}" border="0" align="absmiddle" style="display:none"/>
		<a href="javascript:blockcp_onMenuCatClick('general_add','adminBlockCP_');setActiveTab();"><span>{blockcp_general_adds.L_TITLE}</span></a></li>
		<!-- END blockcp_general_adds -->
		<!-- BEGIN blockcp_general -->
		<li id="adminBlockCP_general_tab"><img name="adminBlockCP_image_general" src="{IMG_URL_GENERAL}" border="0" align="absmiddle" style="display:none" />
		<a href="javascript:blockcp_onMenuCatClick('general','adminBlockCP_');setActiveTab();"><span>{blockcp_general.L_TITLE}</span></a></li>
		<!-- END blockcp_general -->
		<!-- BEGIN blockcp_settings -->
		<li id="adminBlockCP_settings_tab"><img name="adminBlockCP_image_settings" src="{IMG_URL_SETTINGS}" border="0" align="absmiddle" style="display:none" />
		<a href="javascript:blockcp_onMenuCatClick('settings','adminBlockCP_');setActiveTab();"><span>{blockcp_settings.L_TITLE}</span></a></li>
		<!-- END blockcp_settings -->
		<!-- BEGIN blockcp_permissions -->
		<li id="adminBlockCP_private_tab"><img name="adminBlockCP_image_private" src="{IMG_URL_PRIVATE}" border="0" align="absmiddle" style="display:none" />
		<a href="javascript:blockcp_onMenuCatClick('private','adminBlockCP_');setActiveTab();"><span>{blockcp_permissions.L_TITLE}</span></a></li>
		<!-- END blockcp_permissions -->
		<!-- BEGIN blockcp_delete -->
		<li id="adminBlockCP_delete_tab"><img name="adminBlockCP_image_delete" src="{IMG_URL_DELETE}" border="0" align="absmiddle" style="display:none" />
		<a href="javascript:blockcp_onMenuCatClick('delete','adminBlockCP_');setActiveTab();"><span>{blockcp_delete.L_TITLE}</span></a></li>
		<!-- END blockcp_delete -->
	</ul>
</div>
</div>
<script type="text/javascript">
<!--
function setActiveTab()
{
	<!-- BEGIN blockcp_general_adds -->
	blockcp_getObj( 'adminBlockCP_general_add_tab').className = blockcp_menuCats['adminBlockCP_general_add'].status == 'block' ? 'activetab': '';
	<!-- END blockcp_general_adds -->
	<!-- BEGIN blockcp_general -->
	blockcp_getObj( 'adminBlockCP_general_tab').className = blockcp_menuCats['adminBlockCP_general'].status == 'block' ? 'activetab': '';
	<!-- END blockcp_general -->
	<!-- BEGIN blockcp_settings -->
	blockcp_getObj( 'adminBlockCP_settings_tab').className = blockcp_menuCats['adminBlockCP_settings'].status == 'block' ? 'activetab': '';
	<!-- END blockcp_settings -->
	<!-- BEGIN blockcp_permissions -->
	blockcp_getObj( 'adminBlockCP_private_tab').className = blockcp_menuCats['adminBlockCP_private'].status == 'block' ? 'activetab': '';
	<!-- END blockcp_permissions -->
	<!-- BEGIN blockcp_delete -->
	blockcp_getObj( 'adminBlockCP_delete_tab').className = blockcp_menuCats['adminBlockCP_delete'].status == 'block' ? 'activetab': '';
	<!-- END blockcp_delete -->
}
setActiveTab();
// -->
</script>
<div id="adminBlockCP_general_add" style="display:{VISIBLE_GENERAL_ADD};" class="panel bg3">
	<div class="inner">
	<span class="corners-top"><span></span></span>
<!-- BEGIN blockcp_general_adds -->
			<div id="content">
				<div>
					<form action="{S_ACTION}" method="post" onsubmit="return checkForm(this)">
						<fieldset>
							<dl>
								<dt><b>{L_BLOCK_TITLE}</b></dt>
								<dd><input type="text" size="65" name="block_title" value="" /></dd>
							</dl>
							<dl>
								<dt><b>{L_BLOCK_DESC}</b></dt>
								<dd><input type="text" size="65" name="block_desc" value="" /></dd>
							</dl>
							<dl>
								<dt><b>{L_SHOW_TITLE}</b><br /><span class="gensmall">{L_SHOW_TITLE_EXPLAIN}</span></dt>
								<dd><label for="show_title_1_create"><input type="radio" name="show_title" id="show_title_1_create" value="1" {S_SHOW_TITLE_YES_ADD} />{L_YES}</label>
								&nbsp;&nbsp;
								<label for="show_title_0_create"><input type="radio" name="show_title" id="show_title_0_create" value="0" {S_SHOW_TITLE_NO_ADD} />{L_NO}</label></dd>
							</dl>
							<dl>
								<dt><b>{L_SHOW_STATS}</b><br />{L_SHOW_STATS_EXPLAIN}</dt>
								<dd><label for="show_stats_1_create"><input type="radio" name="show_stats" id="show_stats_1_create" value="1" {S_SHOW_STATS_YES_ADD} />{L_YES}</label>
								&nbsp;&nbsp;
								<label for="show_stats_0_create"><input type="radio" name="show_stats" id="show_stats_0_create" value="0" {S_SHOW_STATS_NO_ADD} />{L_NO}</label></dd>
							</dl>
							<dl>
								<dt><b>{L_SHOW_BLOCK}</b><br />{L_SHOW_BLOCK_EXPLAIN}</dt>
								<dd>
								<label for="show_block_1_create"><input type="radio" name="show_block" id="show_block_1_create" value="1" {S_SHOW_BLOCK_YES_ADD} />{L_YES}</label>
								&nbsp;&nbsp;
								<label for="show_block_0_create"><input type="radio" name="show_block" id="show_block_0_create" value="0" {S_SHOW_BLOCK_NO_ADD} />{L_NO}</label></dd>
							</dl>
							<dl>
								<dt><b>{L_AUTH_TITLE}</b><br />{L_AUTH_TITLE_EXPLAIN}</dt>
								<dd>
									<div>
										<table>
											<tr>
												<!-- BEGIN block_auth_titles -->
												<td align="center"><h3>{blockcp_general_adds.block_auth_titles.CELL_TITLE}</h3></td>
												<!-- END block_auth_titles -->
											</tr>
											<tr>
											<!-- BEGIN block_auth_data -->
												<td>
													<table>
														<tr>
												    	  	<td align="center">{blockcp_general_adds.block_auth_data.S_AUTH_LEVELS_SELECT}</td>
														</tr>
													</table>
												</td>
											<!-- END block_auth_data -->
											</tr>
										</table>
									</div>
								</dd>
							</dl>
						</fieldset>
						<p align="right">
							{blockcp_general_adds.S_HIDDEN_FIELDS}
							<input onClick="preFormCheck()" type="submit" name="submit" value="{blockcp_general_adds.S_SUBMIT}" class="button1" />
							{CANCEL}
						</p>
					</form>
				</div>
			</div>
<!-- END blockcp_general_adds -->
	<span class="corners-bottom"><span></span></span>
	</div>
</div>


<div id="adminBlockCP_general" style="display:{VISIBLE_GENERAL};" class="panel bg3">
	<div class="inner">
	<span class="corners-top"><span></span></span>
<!-- BEGIN blockcp_general -->
			<div id="content">
				<div>
					<form action="{S_ACTION}" method="post" onsubmit="return checkForm(this)">
						<fieldset>
							<dl>
								<dt><b>{L_BLOCK_TITLE}</b></dt>
								<dd><input type="text" size="65" name="block_title" value="{E_BLOCK_TITLE}" /></dd>
							</dl>
							<dl>
								<dt><b>{L_BLOCK_DESC}</b></dt>
								<dd><input type="text" size="65" name="block_desc" value="{E_BLOCK_DESC}" /></dd>
							</dl>
						<!-- BEGIN is_mod -->
							<dl>
								<dt><b>{L_SHOW_TITLE}</b><br /><span class="gensmall">{L_SHOW_TITLE_EXPLAIN}</span></dt>
								<dd><label for="show_title_1"><input type="radio" name="show_title" id="show_title_1" value="1" {S_SHOW_TITLE_YES} />{L_YES}</label>
								&nbsp;&nbsp;
								<label for="show_title_0"><input type="radio" name="show_title" id="show_title_0" value="0" {S_SHOW_TITLE_NO} />{L_NO}</label></dd>
							</dl>
							<dl>
								<dt><b>{L_SHOW_STATS}</b><br />{L_SHOW_STATS_EXPLAIN}</dt>
								<dd><label for="show_stats_1"><input type="radio" name="show_stats" id="show_stats_1" value="1" {S_SHOW_STATS_YES} />{L_YES}</label>
								&nbsp;&nbsp;
								<label for="show_stats_0"><input type="radio" name="show_stats" id="show_stats_0" value="0" {S_SHOW_STATS_NO} />{L_NO}</label></dd>
							</dl>
							<dl>
								<dt><b>{L_SHOW_BLOCK}</b><br />{L_SHOW_BLOCK_EXPLAIN}</dt>
								<dd>
								<label for="show_block_1"><input type="radio" name="show_block" id="show_block_1" value="1" {S_SHOW_BLOCK_YES} />{L_YES}</label>
								&nbsp;&nbsp;
								<label for="show_block_0"><input type="radio" name="show_block" id="show_block_0" value="0" {S_SHOW_BLOCK_NO} />{L_NO}</label></dd>
							</dl>
						<!-- END is_mod -->
							<dl>
						<!-- BEGIN is_auth -->
								<dt><b>{L_AUTH_TITLE}</b><br />{L_AUTH_TITLE_EXPLAIN}</dt>
						<!-- END is_auth -->
								<dd>
									<div>
										<table>
											<tr>
												<!-- BEGIN block_auth_titles -->
												<td align="center"><h3>{blockcp_general.block_auth_titles.CELL_TITLE}</h3></td>
												<!-- END block_auth_titles -->
											</tr>
											<tr>
											<!-- BEGIN block_auth_data -->
												<td>
													<table>
														<tr>
												    	  	<td align="center">{blockcp_general.block_auth_data.S_AUTH_LEVELS_SELECT}</td>
														</tr>
													</table>
												</td>
											<!-- END block_auth_data -->
											</tr>
										</table>
									</div>
								</dd>
							</dl>
						</fieldset>
						<p align="right">
						{blockcp_general.S_HIDDEN_FIELDS}
						<input onClick="preFormCheck()" type="submit" name="submit" value="{blockcp_general.S_SUBMIT}" class="button1" />
						{CANCEL}
						</p>
					</form>
				</div>
			</div>
<!-- END blockcp_general -->
	<span class="corners-bottom"><span></span></span>
	</div>
</div>

<div id="adminBlockCP_settings" style="display:{VISIBLE_SETTINGS};" class="panel bg3">
	<div class="inner">
	<span class="corners-top"><span></span></span>
	<div class="inner">
<!-- BEGIN blockcp_panel -->
 		<div style="padding:10px;margin:0px;">
			<fieldset class="fieldset1" style="padding-top:0px;margin-top:0px;">
				{blockcp_panel.BLOCKCP_PANELS}
			</fieldset>
		</div>
<!-- END blockcp_panel -->
<!-- BEGIN blockcp_settings -->
		<div>
			<form action="{S_ACTION}" method="post" name="post">
				<!-- BEGIN no_settings -->
				<div>
					{blockcp_settings.no_settings.INFO}
				</div>
				<!-- END no_settings -->
				<div style="padding:10px;">
					<fieldset class="fieldset1">
					{BLOCKCP_PARAMETERS}
					</fieldset>
				</div>
				<div style="text-align:right">
					{blockcp_settings.S_HIDDEN_FIELDS}
					<input type="submit" name="submit_pars" value="{blockcp_settings.S_SUBMIT}" class="button1" />
					{CANCEL}
				</div>
			</form>
		</div>
	</div>
 <!-- END blockcp_settings -->
	<span class="corners-bottom"><span></span></span>
	</div>
</div>

<div id="adminBlockCP_private" style="display:{VISIBLE_PRIVATE};" class="panel bg3">
	<div class="inner">
	<span class="corners-top"><span></span></span>
<!-- BEGIN blockcp_permissions -->
	<div class="inner" align="center" style="padding:6px;">
		<form action="{S_ACTION}" method="post">
				<table style="width:100%">
					<col class="col1" /><col class="col2" /><col class="col1" /><col class="col2" />
					<thead>
					<tr>
						<td><b>{L_GROUPS}</b></td>
						<td><b>{L_VIEW}</b></td>
						<td><b>{L_EDIT}</b></td>
						<td><b>{L_IS_MODERATOR}</b></td>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td class="row1" align="center" colspan="4">
							<div style="overflow:auto; overflow-y:scroll; height:200px;">
							<table style="width:98%">
								<col class="col1" /><col class="col2" /><col class="col1" /><col class="col2" />
								<!-- BEGIN grouprows -->
									{blockcp_permissions.grouprows.GROUP_ROWS}
								<!-- END grouprows -->
							</table>
							</div>
						</td>
					</tr>
					</tbody>
				</table>
		</form>
		<div style="text-align:right">
		{blockcp_permissions.S_HIDDEN_FIELDS}
		<input type="submit" name="submit" value="{blockcp_permissions.S_SUBMIT}" class="button1" />
		{CANCEL}
		</div>
	</div>
<!-- END blockcp_permissions -->
	<span class="corners-bottom"><span></span></span>
	</div>
</div>

<div id="adminBlockCP_delete" style="display:{VISIBLE_DELETE};" class="panel bg3">
	<div class="inner">
	<span class="corners-top"><span></span></span>

<!-- BEGIN blockcp_delete -->
		<div style="font-size: 1.1em"><br/>
		{blockcp_delete.MESSAGE_DELETE}
		</div>
<!-- END blockcp_delete -->
	<span class="corners-bottom"><span></span></span>
	</div>
</div>

<div id="adminBlockCP_require_refresh_info" style="display:none;" class="genmed">
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="forumline">
<tr>
	<td colspan="2" class="row1">
		<table width="100%" cellpadding="1" cellspacing="2" border="0" align="center">
			<tr>
				<td width="50%" align="center" colspan="2">{L_UPDATE}</td>
			</tr>
		</table>
	</td>
</tr>
</table>
</div>