<script type="text/javascript">
function menuCat(id, mode, visible)
{
	this.cat_id = id;
	this.menu_mode = mode;
	this.status = visible != '' ? visible : 'none';
}
var menuCats = new Array();

menuCats['adminPage_Template'] = new menuCat('Template', 'adminPage_', '{VISIBLE}');

<!-- BEGIN templates -->
menuCats['adminTemplateEdit_{templates.TEMPLATE_ID}'] = new menuCat('{templates.TEMPLATE_ID}', 'adminTemplateEdit_', '{templates.VISIBLE}');
menuCats['adminTemplateDelete_{templates.TEMPLATE_ID}'] = new menuCat('{templates.TEMPLATE_ID}', 'adminTemplateDelete_', '{templates.VISIBLE_DELETE}');

<!-- BEGIN columnrow -->
menuCats['adminTemplateColumnEdit_{templates.TEMPLATE_ID}_{templates.columnrow.COLUMN_ID}'] = new menuCat('{templates.TEMPLATE_ID}_{templates.columnrow.COLUMN_ID}', 'adminTemplateColumnEdit_', '{templates.columnrow.VISIBLE}');
menuCats['adminTemplateColumnDelete_{templates.TEMPLATE_ID}_{templates.columnrow.COLUMN_ID}'] = new menuCat('{templates.TEMPLATE_ID}_{templates.columnrow.COLUMN_ID}', 'adminTemplateColumnDelete_', '{templates.columnrow.VISIBLE_DELETE}');
<!-- END columnrow -->
<!-- END templates -->

<!-- BEGIN pages -->
menuCats['adminPage_{pages.PAGE_ID}'] = new menuCat('{pages.PAGE_ID}', 'adminPage_', '{pages.VISIBLE}');
menuCats['adminPageDelete_{pages.PAGE_ID}'] = new menuCat('{pages.PAGE_ID}', 'adminPageDelete_', '{pages.VISIBLE_DELETE}');
menuCats['adminPageEdit_{pages.PAGE_ID}'] = new menuCat('{pages.PAGE_ID}', 'adminPageEdit_', '{pages.VISIBLE_EDIT}');
menuCats['adminPageSettings_{pages.PAGE_ID}'] = new menuCat('{pages.PAGE_ID}', 'adminPageSettings_', '{pages.VISIBLE_SETTINGS}');
menuCats['adminPagePrivate_{pages.PAGE_ID}'] = new menuCat('{pages.PAGE_ID}', 'adminPagePrivate_', '{pages.VISIBLE_PRIVATE}');

<!-- BEGIN columnrow -->
menuCats['adminColumnEdit_{pages.PAGE_ID}_{pages.columnrow.COLUMN_ID}'] = new menuCat('{pages.PAGE_ID}_{pages.columnrow.COLUMN_ID}', 'adminColumnEdit_', '{pages.columnrow.VISIBLE}');
menuCats['adminColumnDelete_{pages.PAGE_ID}_{pages.columnrow.COLUMN_ID}'] = new menuCat('{pages.PAGE_ID}_{pages.columnrow.COLUMN_ID}', 'adminColumnDelete_', '{pages.columnrow.VISIBLE_DELETE}');
<!-- END columnrow -->
<!-- END pages -->

function getObj(obj)
{
	return ( document.getElementById ? document.getElementById(obj) : ( document.all ? document.all[obj] : null ) );
}

function displayObj(obj, status)
{
	var x = getObj(obj);
	if( x && x.style ) x.style.display = status;
}

var queueInterval = 0;		// milliseconds between queued steps.
var execInterval = 0;
var queuedSteps;
var currentStep;

function queueStep(o, s)
{
	this.obj = o;
	this.status = s;
}

function execQueue()
{
	if( currentStep < queuedSteps.length )
	{
		var obj = queuedSteps[currentStep].obj;
		var status = queuedSteps[currentStep].status;
		displayObj(obj, status);
		if( menuCats[obj] ) menuCats[obj].status = status;
		currentStep++;
		setTimeout("execQueue();", execInterval);
	}
	else
	{
		execInterval = queueInterval;
	}
}

function onMenuCatClick(cat_id, type, init)
{
	var currentCat, currentStatus;
	var imageSCR = type+'image_'+cat_id;
	var strSubmitContent = '';

	parentPageMode = 'adminPage_';
	parentEditMode = 'adminPageEdit_';
	parentPrivateMode = 'adminPagePrivate_';
	parentDeleteMode = 'adminPageDelete_';
	parentSettingsMode = 'adminPageSettings_';
	parentTemplateMode = 'adminTemplateEdit_';

	parentPageCat = parentPageMode + cat_id;
	parentEditCat = parentEditMode + cat_id;
	parentPrivateCat = parentPrivateMode + cat_id;
	parentDeleteCat = parentDeleteMode + cat_id;
	parentSettingsCat = parentSettingsMode + cat_id;
	parentTemplateCat = parentTemplateMode + cat_id;

	currentCat = type + cat_id;

	currentStatus = menuCats[currentCat].status;

	queuedSteps = new Array();
	cookieArray = new Array();

	currentStep = 0;

	for( var forCat in menuCats )
	{
		if( (init == 'true' && (menuCats[forCat].status == 'block') && menuCats[forCat].menu_mode == parentPageMode) ||
			(init != 'true' &&
				( 	(currentCat == parentPageCat && menuCats[forCat].status == 'block' ) ||

					(currentCat == parentEditCat && menuCats[forCat].menu_mode != parentPageMode && menuCats[forCat].status == 'block') ||
					(currentCat == parentPrivateCat && menuCats[forCat].menu_mode != parentPageMode && menuCats[forCat].status == 'block') ||
					(currentCat == parentSettingsCat && menuCats[forCat].menu_mode != parentPageMode && menuCats[forCat].status == 'block') ||
					(currentCat == parentDeleteCat && menuCats[forCat].menu_mode != parentPageMode && menuCats[forCat].status == 'block') ||

					(currentCat == parentTemplateCat && menuCats[forCat].menu_mode != parentPageMode && menuCats[forCat].status == 'block') ||

					(currentCat != parentPageCat && forCat == currentCat && currentStatus == 'block')  )))
		{
			queuedSteps[currentStep++] = new queueStep(forCat, 'none');
			menuCats[forCat].status = 'none';

			forCatimage = menuCats[forCat].menu_mode+'image_'+menuCats[forCat].cat_id;
			if( document.images && document.images[forCatimage] )
			{
				document.images[forCatimage].src = '{IMG_URL_EXPAND}';
			}
		}
	}

	if( currentStatus == 'none' )
	{
		if (menuCats[parentPageCat] && menuCats[forCat].menu_mode == parentPageMode)
		{
			alert(parentPageCat);
			if (menuCats[parentPageCat].status == 'none')
			{
				queuedSteps[currentStep++] = new queueStep(parentPageCat, 'block');
				menuCats[parentPageCat].status = 'block';

				forCatimage = menuCats[parentPageCat].menu_mode+'image_'+menuCats[parentPageCat].cat_id;
				if( document.images && document.images[forCatimage] )
				{
					document.images[forCatimage].src = '{IMG_URL_CONTRACT}';
				}
			}
		}

		queuedSteps[currentStep++] = new queueStep(currentCat, 'block');
		menuCats[currentCat].status = 'block';

		if (currentCat == parentPageCat)
		{
			var	expdate = new Date();		// 72 Hours from now
			expdate.setTime(expdate.getTime() + (72 * 60 * 60 * 1000));
			//setCookie('{COOKIE_NAME}_'+type+'page_id', cat_id, expdate,
			//	('{COOKIE_PATH}'   == '') ? null : '{COOKIE_PATH}',
			//	('{COOKIE_DOMAIN}' == '') ? null : '{COOKIE_DOMAIN}',
			//	('{COOKIE_SECURE}' == '0') ? false : true);
		}

		if( document.images && document.images[imageSCR] )
		{
			document.images[imageSCR].src = '{IMG_URL_CONTRACT}';
		}
	}
	else
	{
		//delCookie('{COOKIE_NAME}_'+type+'page_id',
		//		('{COOKIE_PATH}'   == '') ? null : '{COOKIE_PATH}',
		//		('{COOKIE_DOMAIN}' == '') ? null : '{COOKIE_DOMAIN}');
	}

	for( var forCat in menuCats )
	{
		if ( menuCats[forCat].status == 'block' )
		{
			strSubmitContent += forCat + ',';
		}
	}

	// Remove trailing separator
	strSubmitContent = strSubmitContent.substr(0, strSubmitContent.length - 1);

	setCookie('{COOKIE_NAME}_admincp_pagestates', strSubmitContent, expdate,
			('{COOKIE_PATH}'   == '') ? null : '{COOKIE_PATH}',
			('{COOKIE_DOMAIN}' == '') ? null : '{COOKIE_DOMAIN}',
			('{COOKIE_SECURE}' == '0') ? false : true);

	currentStep = 0;
	setTimeout("execQueue();", execInterval);
}

function doOnLoadMenuACP()
{
	var cat_id;

	if ( menuCats['adminPage_Template'].status == 'block' )
	{
			menuCats['adminPage_Template'].status = 'none';
			onMenuCatClick('Template', 'adminPage_', 'true');
	}
	else if( getObj('adminPage_' + '{NAV_PAGE_ID}') )
	{
		if ( '{NAV_PAGE_ID}' > 0 )
		{
			cat_id = '{NAV_PAGE_ID}';
		}
		else
		{
			cat_id = getCookie('{COOKIE_NAME}_adminPage_page_id');
		}

		if( menuCats['adminPage_'+cat_id] )
		{
			menuCats['adminPage_'+cat_id].status = 'none';
			onMenuCatClick(cat_id, 'adminPage_', 'true');
		}
	}

	if( oldOnLoadMenuACP )
	{
		oldOnLoadMenuACP();
	}
}

function checkForm() {
   	formErrors = '';
	var is_selected = false;

   	if (document.forms['DYNAMIC_LIST'].function_id.selectedIndex < 0) {
      	formErrors += "Select a function\r\n";
   	}
   	if (document.forms['DYNAMIC_LIST'].block_id.selectedIndex < 0) {
      	formErrors += "Select a block\r\n";
   	}
   	if (document.forms['DYNAMIC_LIST'].id.checked)
   	{
   		is_selected = true;
   	}
   	else
   	{
	   	for (i=0, n=document.forms['DYNAMIC_LIST'].id.length; i<n; i++) {
			if (document.forms['DYNAMIC_LIST'].id[i].checked || document.forms['DYNAMIC_LIST'].id.checked) {
			is_selected = true;
			continue;
			}
		}
   	}
   	if (!is_selected) {
      	formErrors += "Select a page column\r\n";
   	}
   	if (formErrors) {
      	alert(formErrors);
      	return false;
   	} else {
      	bbstyle(-1);
      	//formObj.preview.disabled = true;
      	//formObj.submit.disabled = true;
      	return true;
   	}
}

var	oldOnLoadMenuACP = window.onload;

// -->
</script>

<!-- BEGIN pages -->
<!-- BEGIN has_columns -->
<!-- dynamic_select -->
<script type="text/javascript" src="../modules/mx_shared/lib/DynamicOptionList_comp.js"></script>
<script type="text/javascript" id="DYNAMIC_LIST">
var makeModule = new DynamicOptionList("module_id","function_id","block_id");
{DYNAMIC_FUNCTION_SETUP}
{DYNAMIC_BLOCK_SETUP}
{DYNAMIC_DEFAULT_SETUP}
</script>
<!-- dynamic_select -->
<!-- END has_columns -->
<!-- END pages -->

<script type="text/javascript">
function doOnLoadFunctions()
{
	doOnLoadMenuACP();
	<!-- BEGIN pages -->
	<!-- BEGIN is_page -->
	initDynamicOptionLists();
	<!-- END is_page -->
	<!-- END pages -->
}
window.onload = doOnLoadFunctions;
</script>
<h1>{L_TITLE}</h1>

<p>{L_EXPLAIN}</p>

<div id="quick_blocks" style="float:right;">
	<form method="post" name="jumpbox" action="{S_ACTION}" style="overflow:hidden;display:block;">
		<fieldset>
			<legend>{L_QUICK_NAV}</legend>
			<p>
			<select name="page_id" class="forminput">{PAGE_SELECT_BOX}</select>
			<input type="submit" value="{S_SUBMIT}" class="button2" />
			</p>
		</fieldset>
	</form>
</div>

<div style="clear:both">
{RESULT_MESSAGE}
</div>
<div id="tabs">
	<ul>
		<!-- BEGIN pages -->
		<!-- BEGIN is_new -->
		<li id="adminPage_{pages.PAGE_ID}_tab"><img name="adminPage_image_{pages.PAGE_ID}" src="{IMG_URL_EXPAND}" border="0" align="absmiddle" style="display:none;">
		<a href="javascript:onMenuCatClick('{pages.PAGE_ID}','adminPage_');setActiveTab();"><span>{L_TITLE_NEW_PAGE}</span></a>
		</li>
		<!-- END is_new -->
		<!-- BEGIN is_current -->
		<li id="adminPage_{pages.PAGE_ID}_tab"><img name="adminPage_image_{pages.PAGE_ID}" src="{IMG_URL_EXPAND}" border="0" align="absmiddle" style="display:none;">
		<a href="javascript:onMenuCatClick('{pages.PAGE_ID}','adminPage_');setActiveTab();"><span>{L_PAGE_TITLE} - {pages.PAGE_TITLE}</span></a>
		</li>
		<!-- END is_current -->
		<!-- END pages -->
		<li id="adminPage_Template_tab"><img name="adminPage_image_Template" src="{IMG_URL}" border="0" align="absmiddle" style="display:none;">
		<a href="javascript:onMenuCatClick('Template','adminPage_');setActiveTab();"><span>{L_TITLE_TEMPLATE}</span></a>
		</li>
	</ul>
</div>
<script type="text/javascript">
<!--
function setActiveTab()
{
	<!-- BEGIN pages -->
	<!-- BEGIN is_new -->
	getObj( 'adminPage_{pages.PAGE_ID}_tab').className = menuCats['adminPage_{pages.PAGE_ID}'].status == 'block' ? 'activetab': '';
	<!-- END is_new -->
	<!-- BEGIN is_current -->
	getObj( 'adminPage_{pages.PAGE_ID}_tab').className = menuCats['adminPage_{pages.PAGE_ID}'].status == 'block' ? 'activetab': '';
	<!-- END is_current -->
	<!-- END pages -->
	getObj( 'adminPage_Template_tab').className = menuCats['adminPage_Template'].status == 'block' ? 'activetab': '';
}
setActiveTab();
-->
</script>
<div class="panel bg3">
	<span class="corners-top"><span></span></span>
	<div style="clear:both"></div>
	<div class="inner" style="padding:0.4em">
	<!-- BEGIN no_pages -->
	<div class="inner">{nopages.NONE}</div>
	<!-- END no_pages -->
	<!-- BEGIN pages -->
	<div id="adminPage_{pages.PAGE_ID}" class="inner" style="display:{pages.VISIBLE};clear:both;">
		<div style="float:right;height:40px;horizontal-align:center">
			<!-- BEGIN is_page -->
			<a href="{pages.U_PREVIEW}" target="_blank" title="{L_PREVIEW}"><img src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}images/admin_icons/icon_preview.gif" align="absmiddle" /></a>
			<a href="javascript:onMenuCatClick('{pages.PAGE_ID}','adminPageEdit_');" title="{L_EDIT}"><img src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}images/admin_icons/icon_edit.gif" align="absmiddle" /></a>
			<a href="javascript:onMenuCatClick('{pages.PAGE_ID}','adminPageSettings_');" title="{L_SETTING}"><img src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}images/admin_icons/icon_edit_page.gif" align="absmiddle" /></a>
			<a href="javascript:onMenuCatClick('{pages.PAGE_ID}','adminPagePrivate_');" title="{L_PERMISSIONS}"><img src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}images/admin_icons/icon_permissions.gif" align="absmiddle" /></a>
			<a href="javascript:onMenuCatClick('{pages.PAGE_ID}','adminPageDelete_');" title="{L_DELETE}"><img src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}images/admin_icons/icon_delete.gif" align="absmiddle" /></a>
			<!-- END is_page -->
		</div>
		<div style="float:left;height:40px;horizontal-align:center">
			{pages.PAGE_ICON}
			<strong>{pages.PAGE_TITLE}</strong>
			<span class="explain">{pages.PAGE_DESC}</span>
		</div>
		<!-- BEGIN reload -->
		<div style="clear:both;">
			<a href="{pages.reload.U_PAGE_EDIT}">Reload nedded</a>
		</div>
		<!-- END reload -->
		<div style="clear:both;"></div>
		<!-- PAGE Delete -->
		<div id="adminPageDelete_{pages.PAGE_ID}" style="clear:both;padding-top:0.1em;display:{pages.VISIBLE_DELETE};">
			<fieldset>
				<legend style="cursor:pointer;" onclick="onMenuCatClick('{pages.PAGE_ID}','adminPageDelete_');">
					<img src="{IMG_URL_CONTRACT}" border="0" align="absmiddle" />
					<img src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}images/admin_icons/icon_delete.gif" align="absmiddle" />
					{L_DELETE}
				</legend>
				<p>
					{pages.MESSAGE_DELETE}
				</p>
			</fieldset>
		</div>
		<!-- PAGE Delete -->
		<!-- PAGE Private -->
		<div id="adminPagePrivate_{pages.PAGE_ID}" style="clear:both;padding-top:0.1em;display:{pages.VISIBLE_PRIVATE};">
			<form action="{S_ACTION}" method="post">
				<fieldset>
					<legend style="cursor:pointer;" onclick="onMenuCatClick('{pages.PAGE_ID}','adminPagePrivate_');">
						<img src="{IMG_URL_CONTRACT}" border="0" align="absmiddle" />
						{L_PERMISSIONS}
					</legend>
					<p>
				      	<table border="0">
				      		<thead>
							<tr>
								<th width="50%" align="center" height="20" nowrap="nowrap"><b>{L_GROUPS}</b></th>
								<th width="25%" align="center" nowrap="nowrap"><b>{L_VIEW}</b></th>
								<th width="24%" align="center" nowrap="nowrap"><b>{L_IS_MODERATOR}</b></th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td align="center" colspan="3">
									<div style="overflow:auto; overflow-y:scroll; height:200px;">
									<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
										<tbody>
										<!-- BEGIN grouprow -->
										<tr>
											<td width="50%" class="{pages.grouprow.ROW_COLOR}" align="center">{pages.grouprow.GROUP_NAME}</td>
											<td width="25%" class="{pages.grouprow.ROW_COLOR}" align="center">
												{pages.grouprow.VIEW_INPUT}
											</td>
											<td width="25%" class="{pages.grouprow.ROW_COLOR}" align="center">
											<input name="moderator[]" type="checkbox" class="radio" {pages.grouprow.MODERATOR_CHECKED} value="{pages.grouprow.GROUP_ID}" />
											</td>
										</tr>
										<!-- END grouprow -->
										</tbody>
									</table>
									</div>
								</td>
							</tr>
							</tbody>
						</table>
					<p align="center">
					{pages.S_HIDDEN_PRIVATE_FIELDS}
					<input type="submit" name="submit" value="{pages.S_SUBMIT}" class="button2" />
					</p>
				</fieldset>
			</form>
		</div>
		<!-- PAGE Private -->
		<!-- PAGE Edit -->
		<!-- BEGIN is_page -->
		<div id="adminPageEdit_{pages.PAGE_ID}" style="display:{pages.VISIBLE_EDIT};clear:both;padding-top:0.1em">
		<!-- END is_page -->
			<form action="{S_ACTION}" method="post">
				<fieldset>
					<legend style="cursor:pointer" onclick="onMenuCatClick('{pages.PAGE_ID}','adminPageEdit_');">
						<img src="{IMG_URL_CONTRACT}" border="0" align="absmiddle" />
						<img src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}images/admin_icons/icon_edit.gif" align="absmiddle" />
						{L_EDIT}
					</legend>
					<dl>
						<dt><label for="page_name">{L_PAGE_TITLE}</label></dt>
						<dd><input type="text" size="45" name="page_name" id="page_name" value="{pages.E_PAGE_TITLE}" /></dd>
					</dl>
					<dl>
						<dt><label for="page_desc">{L_PAGE_DESC}</label></dt>
						<dd><input type="text" size="45" name="page_desc" id="page_desc" value="{pages.E_PAGE_DESC}" /></dd>
					</dl>
					<dl>
						<dt><label for="page_parent">{L_PAGE_PARENT}</label></dt>
						<dd>
							<select name="page_parent" id="page_parent">
								{pages.E_PAGE_PARENT}
							</select>
						</dd>
					</dl>
					<dl>
						<dt><label for="page_header">{L_PAGE_HEADER}</label></dt>
						<dd><input type="text" size="45" name="page_header" id="page_header" value="{pages.E_PAGE_HEADER}" class="post" /></dd>
					</dl>
					<dl>
						<dt><label for="page_footer">{L_PAGE_FOOTER}</label></dt>
						<dd><input type="text" size="45" name="page_footer" id="page_footer" value="{pages.E_PAGE_FOOTER}" class="post" /></dd>
					</dl>
					<dl>
						<dt><label for="style_select">{L_DEFAULT_STYLE}</label></dt>
						<dd>{pages.STYLE_SELECT}</dd>
					</dl>
					<dl>
						<dt><label for="AmxOrsA_{pages.PAGE_ID}">{L_OVERRIDE_STYLE}</label><br />
						<span class="explain">{L_OVERRIDE_STYLE_EXPLAIN}</span></dt>
						<dd>
							<input type="radio" name="mx_override_user_style" id="AmxOrsA_{pages.PAGE_ID}" value="-1" class="radio" {pages.OVERRIDE_STYLE_DEFAULT} /> <label for="AmxOrsA_{pages.PAGE_ID}">{L_DEFAULT}</label>&nbsp;
							<input type="radio" name="mx_override_user_style" id="BmxOrsB_{pages.PAGE_ID}" value="1" class="radio" {pages.OVERRIDE_STYLE_YES} /> <label for="BmxOrsB_{pages.PAGE_ID}">{L_YES}</label>&nbsp;
							<input type="radio" name="mx_override_user_style" id="CmxOrsC_{pages.PAGE_ID}" value="0" class="radio" {pages.OVERRIDE_STYLE_NO} /> <label for="CmxOrsC_{pages.PAGE_ID}">{L_NO}</label>
						</dd>
					</dl>
					<dl>
						<dt><label for="page_main_layout">{L_PAGE_MAIN_LAYOUT}</label></dt>
						<dd><input type="text" size="45" name="page_main_layout" id="page_main_layout" value="{pages.E_PAGE_MAIN_LAYOUT}" class="post" /></dd>
					</dl>
					<dl>
						<dt><label for="navigation_block">{L_NAVIGATION_BLOCK}</label><br /><span class="explain">{L_NAVIGATION_BLOCK_EXPLAIN}</span></dt>
						<dd>{pages.E_NAVIGATION_BLOCK}</dd>
					</dl>
					<dl>
						<dt><label for="phpbb_stats_{pages.PAGE_ID}_0">{L_PHPBB_STATS}</label><br /><span class="explain">{L_PHPBB_STATS_EXPLAIN}</span></dt>
						<dd>
							<input type="radio" id="phpbb_stats_{pages.PAGE_ID}_0" name="phpbb_stats" value="-1" class="radio" {pages.S_PHPBB_STATS_DEFAULT} /> <label for="phpbb_stats_{pages.PAGE_ID}_0">{L_DEFAULT}</label>&nbsp;
							<input type="radio" id="phpbb_stats_{pages.PAGE_ID}_1" name="phpbb_stats" value="1" class="radio" {pages.S_PHPBB_STATS_YES} /> <label for="phpbb_stats_{pages.PAGE_ID}_1">{L_YES}</label>&nbsp;
							<input type="radio" id="phpbb_stats_{pages.PAGE_ID}_2" name="phpbb_stats" value="0" class="radio" {pages.S_PHPBB_STATS_NO} /> <label for="phpbb_stats_{pages.PAGE_ID}_2">{L_NO}</label>
						</dd>
					</dl>
					<dl>
						<dt><label for="ip_filter">{L_IP_FILTER}</label><br /><span class="explain">{L_IP_FILTER_EXPLAIN}</span></dt>
						<dd><textarea rows="5" cols="50" wrap="virtual" name="ip_filter" id="ip_filter" class="post" />{pages.IP_FILTER}</textarea></dd>
					</dl>
					<!-- BEGIN template -->
					<dl>
						<dt><label>{pages.L_CHOOSE_PAGE_TEMPLATE}</label></dt>
						<dd>{pages.S_TEMPLATE_LIST}</dd>
					</dl>
					<!-- END template -->
					<dl>
						<dt><label>{L_AUTH_TITLE}</label></dt>
						<dd>
						      <table border="0">
						      	<thead>
						    	<tr>
						    	  <!-- BEGIN page_auth_titles -->
						    	  <th>{pages.page_auth_titles.CELL_TITLE}</th>
						    	  <!-- END page_auth_titles -->
						    	</tr>
						    	</thead>
						    	<tbody>
								<tr>
								<!-- BEGIN page_auth_data -->
						    	  <td align="center">{pages.page_auth_data.S_AUTH_LEVELS_SELECT}</td>
						   	    <!-- END page_auth_data -->
						    	</tr>
						   	    </tbody>
						      </table>
						</dd>
					</dl>
					<dl>
						<dt><label>{L_PAGE_ICON}</label></dt>
						<dd style="background-image: url('{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}theme/images/bg_header.gif');">{pages.S_PAGE_ICON}</dd>
					</dl>
					<dl>
						<dt><label for="page_alt_icon">{L_PAGE_ALT_ICON}</label></dt>
						<dd><input type="text" size="65" name="page_alt_icon" id="page_alt_icon" value="{pages.S_PAGE_ALT_ICON}" class="post" /></dd>
					</dl>
					<p align="center">
						{pages.S_HIDDEN_FIELDS}
						<input type="submit" name="submit" value="{pages.S_SUBMIT}" class="button1" />
					</p>
				</fieldset>
			</form>
		<!-- BEGIN is_page -->
		</div>
		<!-- END is_page -->
		<!-- PAGE Edit -->
		<!-- PAGE Setting -->
		<div id="adminPageSettings_{pages.PAGE_ID}" style="display:{pages.VISIBLE_SETTINGS};clear:both;margin:1.0em;padding:0.2em;">
			<!-- BEGIN has_columns -->
			<!-- dynamic_select -->
			<div class="inner" style="margin:8px;">
				<form name="DYNAMIC_LIST" method="post" action="{S_ACTION}" onsubmit="return checkForm(this)">
					<div style="float:left;">
						<strong>{L_MODULE}</strong><br/>
							<select name="module_id" MULTIPLE size=5>
								{DYNAMIC_MODULE_SELECT}
							</select>
					</div>
					<div style="float:left;margin-left:15px;">
						<strong>{L_FUNCTION}</strong><br />
							<select name="function_id" MULTIPLE size=5>
								<script LANGUAGE="JavaScript">makeModule.printOptions("function_id")</script>
							</select>
					</div>
					<div style="float:left;margin-left:15px;">
						<strong>{L_BLOCK}</strong><br />
							<select name="block_id" MULTIPLE size=5>
								<script LANGUAGE="JavaScript">makeModule.printOptions("block_id")</script>
							</select>

					</div>
					<div style="float:left;margin-left:15px;">
						<strong>{L_COLUMN}</strong><br/>
						{RADIO_COLUMN_LIST}
						<br/>
						<input type="button" value="{L_RESET}" onClick="this.form.reset(); resetDynamicOptionLists(this.form);" class="button2"> &nbsp;
						<input type="submit" value="{L_CREATE_BLOCK} &raquo; {L_COLUMN}" class="button2" />
						{S_HIDDEN_DYN_FIELDS}
					</div>
				</form>
			</div>
			<div style="clear:both;">
			</div>
			<!-- dynamic_select -->
			<!-- END has_columns -->
			<!-- BEGIN columnrow -->
			<div style="clear:both;border-top:solid 1px #CCCCCC;padding:3px;">
				<!-- BEGIN is_columnrow -->
				<div style="float:right;padding-bottom:0.2em;">
					<a href="javascript:onMenuCatClick('{pages.PAGE_ID}_{pages.columnrow.COLUMN_ID}','adminColumnEdit_');" title="{L_EDIT}"><img src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}images/admin_icons/icon_edit.gif" align="absmiddle"></a>
					<a href="{pages.columnrow.U_COLUMN_MOVE_UP}"><img src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}images/admin_icons/icon_up.gif" title="{pages.columnrow.L_MOVE_UP}" alt="{pages.columnrow.L_MOVE_UP}" align="absmiddle"/></a>
					<a href="{pages.columnrow.U_COLUMN_MOVE_DOWN}"><img src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}images/admin_icons/icon_down.gif" title="{pages.columnrow.L_MOVE_DOWN}" alt="{pages.columnrow.L_MOVE_DOWN}" align="absmiddle"/></a>
					<a href="javascript:onMenuCatClick('{pages.PAGE_ID}_{pages.columnrow.COLUMN_ID}','adminColumnDelete_');" title="{pages.columnrow.L_DELETE}"><img src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}images/admin_icons/icon_delete.gif" align="absmiddle"></a>
				</div>
				<!-- END is_columnrow -->
				<div style="float:left;padding:bottom:0.2em;">
					<span style="cursor:pointer;" onclick="onMenuCatClick('{pages.PAGE_ID}_{pages.columnrow.COLUMN_ID}','adminColumnEdit_');">
						<img src="{IMG_ICON_PAGE_COLUMN}" border="0" align="absmiddle">
					</span>
					<a href="javascript:onMenuCatClick('{pages.PAGE_ID}_{pages.columnrow.COLUMN_ID}','adminColumnEdit_');"><b>{pages.columnrow.L_COLUMN}</b>: {pages.columnrow.COLUMN_TITLE}</a>
				</div>
			</div>

			<!-- PAGE COLUMN Delete -->
			<div id="adminColumnDelete_{pages.PAGE_ID}_{pages.columnrow.COLUMN_ID}" style="clear:both;padding-top:0.1em;display:{pages.columnrow.VISIBLE_DELETE};">
				<fieldset>
					<legend>{pages.columnrow.L_DELETE}</legend>
					<p>
						{pages.columnrow.MESSAGE_DELETE}
					</p>
				</fieldset>
			</div>
			<!-- PAGE COLUMN Delete -->
			<!-- PAGE COLUMN Edit -->
			<div id="adminColumnEdit_{pages.PAGE_ID}_{pages.columnrow.COLUMN_ID}" style="clear:both;padding-top:0.1em;display:{pages.columnrow.VISIBLE};">
		  	<form action="{S_ACTION}" method="post">
		  		<fieldset>
		  			<legend style="cursor:pointer;" onclick="onMenuCatClick('{pages.PAGE_ID}_{pages.columnrow.COLUMN_ID}','adminColumnEdit_');">
		  				<img src="{IMG_URL_CONTRACT}" border="0" align="absmiddle">
		  				{pages.columnrow.L_TITLE}
		  			</legend>
		  			<dl>
		  				<dt><label for="column_title_{pages.PAGE_ID}_{pages.columnrow.COLUMN_ID}">{pages.columnrow.L_COLUMN}</label></dt>
		  				<dd><input type="text" size="25" name="column_title" id="column_title_{pages.PAGE_ID}_{pages.columnrow.COLUMN_ID}" value="{pages.columnrow.E_COLUMN_TITLE}" /></dd>
		  			</dl>
		  			<dl>
		  				<dt><label for="column_size_{pages.PAGE_ID}_{pages.columnrow.COLUMN_ID}">{pages.columnrow.L_COLUMN_SIZE}</label></dt>
		  				<dd><input type="text" maxlength="5" size="5" name="column_size" id="column_size_{pages.PAGE_ID}_{pages.columnrow.COLUMN_ID}" value="{pages.columnrow.E_COLUMN_SIZE}" /></dd>
		  			</dl>
		  			<p align="center">
		  				{pages.columnrow.S_HIDDEN_FIELDS}
		  				<input type="submit" name="submit" value="{pages.columnrow.S_SUBMIT}" class="button1" />
		  			</p>
		  		</fieldset>
			</form>
			</div>
			<!-- PAGE COLUMN Edit -->
			<!-- BEGIN blockrow -->
			<div style="clear:both;margin-left:16px;border-top:solid 1px #CCCCCC;">
				<div style="float:right;margin-right:20px;">
					<a href="{pages.columnrow.blockrow.U_BLOCK_SETTING}" title="{pages.columnrow.blockrow.L_SETTING}"><img src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}images/admin_icons/icon_edit.gif" align="absmiddle"></a>
					<a href="{pages.columnrow.blockrow.U_BLOCK_MOVE_UP}" title="{L_MOVE_UP}"><img src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}images/admin_icons/icon_up.gif" align="absmiddle"></a>
					<a href="{pages.columnrow.blockrow.U_BLOCK_MOVE_DOWN}" title="{L_MOVE_DOWN}"><img src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}images/admin_icons/icon_down.gif" align="absmiddle"></a>
					<a href="{pages.columnrow.blockrow.U_BLOCK_RESYNC}" title="{L_RESYNC}"><img src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}images/admin_icons/icon_sync.gif" align="absmiddle"></a>
					<a href="{pages.columnrow.blockrow.U_BLOCK_DELETE}" title="{pages.columnrow.blockrow.L_REMOVE}"><img src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}images/admin_icons/icon_delete.gif" align="absmiddle"></a>
				</div>
				<div style="float:left;padding-right:5px;">
					<img src="{IMG_ICON_BLOCK}" border="0" align="absmiddle">
				</div>
				<div style="float:left">
					{pages.columnrow.blockrow.BLOCK_TITLE}
					<span class="explain">{pages.columnrow.blockrow.BLOCK_LAST_EDITED}
					{pages.columnrow.blockrow.BLOCK_DESC}</span>
				</div>
			</div>
			<!-- END blockrow -->
			<!-- BEGIN add_block -->
			<div style="clear:both;margin-left:16px;border-top:solid 1px #CCCCCC;">
				<div style="float:left;margin:4px;">
				<form method="post" action="{S_ACTION}">
					{pages.columnrow.add_block.LIST_BLOCK}
					{pages.columnrow.add_block.S_HIDDEN_FIELDS}
					<input type="submit" class="button2"  name="submit" value="{pages.columnrow.add_block.S_SUBMIT}" />
				</form>
				</div>
			</div>
			<!-- END add_block -->
			<!-- END columnrow -->
		</div>

		<!-- PAGE Setting -->
	</div>
	<!-- END pages -->
	</div>
	<div id="adminPage_Template" style="display:{VISIBLE};clear:both;margin:1.0em;">
		<!-- BEGIN notemplates -->
		<div>{nopages.NONE}</div>
		<!-- END notemplates -->
		<!-- BEGIN templates -->
		<div style="clear:both;border-top:solid 1px #CCCCCC;padding-top:3px;padding-bottom:3px;">
			<div style="clear:both;">
			<!-- BEGIN delete -->
				<div style="float:right;">
					<a href="javascript:onMenuCatClick('{templates.TEMPLATE_ID}','adminTemplateDelete_');" title="{L_DELETE}"><img src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}images/admin_icons/icon_delete.gif"></a>
				</div>
			<!-- END delete -->
				<div  style="float:left;">
					<span style="cursor:pointer;" onclick="onMenuCatClick('{templates.TEMPLATE_ID}','adminTemplateEdit_');">
						<img name="adminTemplateEdit_image_{templates.TEMPLATE_ID}" src="{templates.IMG_URL}" border="0" align="absmiddle">
					{templates.TEMPLATE_ICON}
					</span>
					<b>
			<!-- BEGIN new_template -->
					<a href="javascript:onMenuCatClick('{templates.TEMPLATE_ID}','adminTemplateEdit_');">{templates.TEMPLATE_TITLE}</a>
			<!-- END new_template -->
			<!-- BEGIN current_template -->
					<a href="javascript:onMenuCatClick('{templates.TEMPLATE_ID}','adminTemplateEdit_');">{templates.TEMPLATE_TITLE}</a>
			<!-- END current_template -->
					</b>
				</div>
			</div>
			<!-- TEMPLATE Delete -->
			<div id="adminTemplateDelete_{templates.TEMPLATE_ID}" style="clear:both;padding-top:0.1em;display:{templates.VISIBLE_DELETE};">
			<form>
				<fieldset>
					<legend>{L_DELETE}</legend>
					<p>
						{templates.MESSAGE_DELETE}
					</p>
				</fieldset>
			</form>
			</div>
			<!-- TEMPLATE Delete -->
			<div id="adminTemplateEdit_{templates.TEMPLATE_ID}" style="clear:both;padding-top:0.1em;display:{templates.VISIBLE};">
			<!-- TEMPLATE Edit -->
			<form action="{S_ACTION}" method="post">
				<fieldset>
					<legend>{L_EDIT}</legend>
					<dl>
						<dt><label for="template_name_{templates.TEMPLATE_ID}">{templates.L_TEMPLATE_NAME}</label></dt>
						<dd><input type="text" size="45" name="template_name" id="template_name_{templates.TEMPLATE_ID}" value="{templates.E_TEMPLATE_TITLE}" /></dd>
					</dl>
					<p align="center">
						{templates.S_HIDDEN_FIELDS}
						<input type="submit" name="submit" value="{templates.S_SUBMIT}" class="button1" />
					</p>
				</fieldset>
			</form>
			<!-- TEMPLATE Edit -->
			<!-- TEMPLATE Main Panel -->
			<div id="adminTemplateEdit_{templates.TEMPLATE_ID}" style="dis play:{templates.VISIBLE};clear:both;padding-top:0.1em;margin:5px;margin-top:0px;">
			<!-- BEGIN columnrow -->
				<div style="clear:both;padding-top:5px;border-top:solid 1px #CCCCCC;margin-top:5px;">
					<span style="float:right">
						<a href="{templates.columnrow.U_COLUMN_MOVE_UP}" title="{templates.columnrow.L_MOVE_UP}"><img src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}images/admin_icons/icon_up.gif" align="absmiddle"></a>
						<a href="{templates.columnrow.U_COLUMN_MOVE_DOWN}" title="{templates.columnrow.L_MOVE_DOWN}"><img src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}images/admin_icons/icon_down.gif" align="absmiddle"></a>
						<a href="javascript:onMenuCatClick('{templates.TEMPLATE_ID}_{templates.columnrow.COLUMN_ID}','adminTemplateColumnDelete_');" title="{templates.columnrow.L_DELETE}"><img src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}images/admin_icons/icon_delete.gif" align="absmiddle"></a>
					</span>
					<span style="float:left">
						<span style="cursor:pointer;" onclick="onMenuCatClick('{templates.TEMPLATE_ID}_{templates.columnrow.COLUMN_ID}','adminTemplateColumnEdit_');">
							<img name="adminTemplateColumnEdit_image_{templates.TEMPLATE_ID}_{templates.columnrow.COLUMN_ID}" src="{templates.columnrow.IMG_URL}" border="0" align="absmiddle">&nbsp;<img src="{IMG_ICON_PAGE_COLUMN}" border="0" align="absmiddle">
						</span>
						<a href="javascript:onMenuCatClick('{templates.TEMPLATE_ID}_{templates.columnrow.COLUMN_ID}','adminTemplateColumnEdit_');">
							{templates.columnrow.L_COLUMN}:
							<span class="explain">{templates.columnrow.COLUMN_TITLE}</span></a>
						</span>
					</span>
				</div>
				<!-- TEMPLATE COLUMNROW Delete -->
				<div id="adminTemplateColumnDelete_{templates.TEMPLATE_ID}_{templates.columnrow.COLUMN_ID}" style="display:{templates.columnrow.VISIBLE_DELETE};clear:both;padding-top:0.1em;">
					<form>
					<fieldset>
						<legend>{L_DELETE}</legend>
						<p>{templates.columnrow.MESSAGE_DELETE}</p>
					</fieldset>
					</form>
				</div>
				<!-- TEMPLATE COLUMNROW Delete -->
				<!-- TEMPLATE COLUMNROW Edit -->
				<div id="adminTemplateColumnEdit_{templates.TEMPLATE_ID}_{templates.columnrow.COLUMN_ID}" style="display:{templates.columnrow.VISIBLE};clear:both;padding-top:0.1em;">
				<form action="{S_ACTION}" method="post">
					<fieldset>
						<legend>{L_EDIT}</legend>
						<dl>
							<dt><label for="column_title_{templates.TEMPLATE_ID}_{templates.columnrow.COLUMN_ID}">{templates.columnrow.L_COLUMN_NAME}</label></dt>
							<dd><input type="text" size="25" name="column_title" id="column_title_{templates.TEMPLATE_ID}_{templates.columnrow.COLUMN_ID}" value="{templates.columnrow.E_COLUMN_TITLE}" /></dd>
						</dl>
						<dl>
							<dt><label for="column_size_{templates.TEMPLATE_ID}_{templates.columnrow.COLUMN_ID}">{templates.columnrow.L_COLUMN_SIZE}</label></dt>
							<dd><input type="text" maxlength="5" size="5" name="column_size" id="column_size_{templates.TEMPLATE_ID}_{templates.columnrow.COLUMN_ID}" value="{templates.columnrow.E_COLUMN_SIZE}" /></dd>
						</dl>
						<p align="center">
							{templates.columnrow.S_HIDDEN_FIELDS}
							<input type="submit" name="submit" value="{templates.columnrow.S_SUBMIT}" class="button2" />
						</p>
					</fieldset>
				</form>
				</div>
				<!-- TEMPLATE COLUMNROW Edit -->
			<!-- END columnrow -->
			</div>
			<!-- TEMPLATE Main Panel -->
			</div>
		</div>
		<div style="clear:both;padding-top:3px;"></div>
		<!-- END templates -->
	</div>
	<span class="corners-bottom"><span></span></span>
</div>
