<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}" xml:lang="{S_USER_LANG}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={S_CONTENT_ENCODING}">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="content-language" content="{S_USER_LANG}" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="resource-type" content="document" />
<meta name="distribution" content="global" />
<meta name="copyright" content="2000, 2002, 2005, 2007 phpBB Group" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="verify-v1" content="3ezS3iYCRNh3nu59s47WkxxXhKwAw2WKDUFrCmLbfEw=" />

{META}
{NAV_LINKS}

<title><!-- IF UNREAD_NOTIFICATIONS_COUNT -->({UNREAD_NOTIFICATIONS_COUNT}) <!-- ENDIF --><!-- IF not S_VIEWTOPIC and not S_VIEWFORUM -->{SITENAME} - <!-- ENDIF --><!-- IF S_IN_MCP -->{L_MCP} - <!-- ELSEIF S_IN_UCP -->{L_UCP} - <!-- ENDIF -->{PAGE_TITLE}<!-- IF S_VIEWTOPIC or S_VIEWFORUM --> - {SITENAME}<!-- ENDIF --></title>


<!-- IF SET_BASE --><base href="{U_PORTAL_ROOT_PATH}" ><!-- ENDIF -->


<!-- IF S_ENABLE_FEEDS -->
	<!-- IF S_ENABLE_FEEDS_OVERALL --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {SITENAME}" href="{{ path('phpbb_feed_index') }}" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_NEWS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_NEWS}" href="{{ path('phpbb_feed_news') }}" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_FORUMS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_ALL_FORUMS}" href="{{ path('phpbb_feed_forums') }}" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPICS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_NEW}" href="{{ path('phpbb_feed_topics') }}" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPICS_ACTIVE --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_ACTIVE}" href="{{ path('phpbb_feed_topics_active') }}" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_FORUM and S_FORUM_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FORUM} - {FORUM_NAME}" href="{{ path('phpbb_feed_forum', { forum_id : S_FORUM_ID } ) }}" /><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_TOPIC} - {TOPIC_TITLE}" href="{{ path('phpbb_feed_topic', { topic_id : S_TOPIC_ID } ) }}" /><!-- ENDIF -->
	<!-- EVENT overall_header_feeds -->
<!-- ENDIF -->

<!-- IF U_CANONICAL -->
	<link rel="canonical" href="{U_CANONICAL}" />
<!-- ENDIF -->

<!-- IF S_ALLOW_CDN -->
<script>
	WebFontConfig = {
		google: {
			families: ['Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese']
		}
	};

	(function(d) {
		var wf = d.createElement('script'), s = d.scripts[0];
		wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
		wf.async = true;
		s.parentNode.insertBefore(wf, s);
	})(document);
</script>
<!-- ENDIF -->

<!-- This should not be included direct from phpBB but later from MXP template folder wich means can be ported to internal backend with no change in this file -->
<!-- IF PHPBB -->
<link rel="stylesheet" href="{U_PHPBB_ROOT_PATH}styles/subsilver2/theme/stylesheet.css" type="text/css" />
<!-- ENDIF -->

<link href="{T_FONT_AWESOME_LINK}" rel="stylesheet" />
<link href="{T_FONT_IONIC_LINK}" rel="stylesheet" />

<!-- Load mxBB template *.css definition for mx, located in the the portal template folder -->
<link rel="stylesheet" href="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}{T_MXBB_STYLESHEET}" type="text/css" >

<link href="{T_STYLESHEET_LINK}" rel="stylesheet" />
<link href="{T_STYLESHEET_LANG_LINK}" rel="stylesheet" />

<!-- IF GECKO -->
<!-- Optionally, redefine some defintions for gecko browsers -->
<link rel="stylesheet" href="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}{T_GECKO_STYLESHEET}" type="text/css" >
<!-- ENDIF -->

{MX_ADDITIONAL_CSS}
{MX_ADDITIONAL_CSS_FILES}
{MX_ICON_CSS}
{$STYLESHEETS}


<script type="text/javascript">
//this will disable google traslate browsing frame, the page still will be traslated but real ip will be returned in Admin Index
if (top.location != self.location) top.location = self.location.href;
</script>

<!-- IF ENABLE_PM_POPUP -->
<script language="javascript" type="text/javascript"><!--
	if( {PRIVATE_MESSAGE_NEW_FLAG} )
	{
		window.open('{U_PRIVATEMSGS_POPUP}', '_phpbbprivmsg', 'HEIGHT=225,resizable=yes,WIDTH=400');
	}
// --></script>
<!-- ENDIF -->

<script language="javascript" type="text/javascript"><!--
function checkSearch()
{
	if (document.search_block.search_engine.value == 'google')
	{
		window.open('http://www.google.com/search?q=' + document.search_block.search_keywords.value, '_google', '');
		return false;
	}
	else if (document.search_block.search_engine.value == 'site')
	{
		window.open('{U_SEARCH_SITE}&search_keywords=' + document.search_block.search_keywords.value, '_self', '');
		return false;
	}
	else if (document.search_block.search_engine.value == 'kb')
	{
		window.open('{U_SEARCH_KB}&search_keywords=' + document.search_block.search_keywords.value, '_self', '');
		return false;
	}
	else if (document.search_block.search_engine.value == 'pafiledb')
	{
		window.open('{U_SEARCH_PAFILEDB}&search_keywords=' + document.search_block.search_keywords.value, '_self', '');
		return false;
	}
	else
	{
		return true;
	}
}
//Based on https://css-tricks.com/almanac/properties/o/overflow-wrap/
document.getElementById('show_title').addEventListener('load', function () 
{
  document.querySelector('p').classList.toggle('overflow-wrap');
}, false);
// --></script>


<script language="javascript" type="text/javascript" src="{U_PORTAL_ROOT_PATH}modules/mx_shared/lib/Common.js"></script>
<script language="javascript" type="text/javascript" src="{U_PORTAL_ROOT_PATH}modules/mx_shared/lib/Toggle.js"></script>
<script language="javascript" type="text/javascript" src="{U_PORTAL_ROOT_PATH}modules/mx_shared/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>

{MX_ADDITIONAL_JS_FILES}
{MX_ADDITIONAL_HEADER_TEXT}

</head>
<body bgcolor="{T_BODY_BGCOLOR}" text="{T_BODY_TEXT}" link="{T_BODY_LINK}" vlink="{T_BODY_VLINK}" class="nojs notouch section-{SCRIPT_NAME} {S_CONTENT_DIRECTION} {BODY_CLASS}">

<a name="top"></a>

<div style="width:100%;clear:both;margin: 0 auto;">
<table width="100%" align="center" cellspacing="0" cellpadding="0" border="0" class="mx_main_table">
	<tr>
	<thead>	
		<td class="leftshadow" width="9" valign="top"><img src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}theme/images/spacer.gif" alt="" width="9" height="1" /></td>
		<td class="np-body" width="100%" valign="top">

		<div id="top_logo">
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr>
				<td class="row3" width="25%" align="left" valign="top"><a href="{U_INDEX}"><img src="{LOGO}" border="0" alt="{L_INDEX}" vspace="1"/></a></td>
				<td class="row3" width="50%" align="center" valign="middle">{PAGE_ICON}<span class="pagetitle">{PAGE_TITLE}</span></td>
				<td class="row3" width="25%" align="right" valign="top"><span class="sitetitle">{SITENAME}</span><br /><span class="sitetitle_desc">{SITE_DESCRIPTION}</span></td>
			</tr>
		</table>
		</div>
		
		<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="mx_main_table">
			<tr>
				<td class="bodyline">

					<table width="100%" cellspacing="0" cellpadding="0" border="0" class="mx_header_table">
						<tr>
							<td class="row2" align="center" valign="middle" colspan="3">
								{OVERALL_NAVIGATION}
							</td>
						</tr>
						<!-- BEGIN editcp -->
						<tr>
							<td class="row2" align="center" valign="middle" colspan="3">
								<div class="editCP_switch" style="display: {editcp.EDITCP_SHOW};">
									<form action="{editcp.EDIT_ACTION}" method="post" class="mx_editform">
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
											<tr>
												<td align="right">
													{editcp.EDIT_IMG}
													{editcp.S_HIDDEN_FORM_FIELDS}
												</td>
											</tr>
										</table>
									</form>
								</div>
							</td>
						</tr>
						<!-- END editcp -->

					</table>

			<!-- EVENT overall_header_searchbox_before -->
			<!-- IF S_DISPLAY_SEARCH and not S_IN_SEARCH -->
			<div id="search-box" class="search-box search-header right" role="search">
					
					<table width="100%" cellspacing="0" cellpadding="5" border="0" align="center" class="table1 main_table">
					<tbody>
						<tr class="bg1">
							<td class="table1 responsive-hide" style="text-align:center;"></td>
							<td class="table1 responsive-hide" valign="top" align="left" width="5" height="5" >&nbsp;</td>
							<td class="table1" valign="top" align="right" width="100%" height="5" >
							<form name="search_block" method="post" action="{U_SEARCH}" onsubmit="return checkSearch()">
							<fieldset>
								<select class="post" name="search_engine">
									{L_SEARCH_SITE}
									{L_SEARCH_FORUM}
									{L_SEARCH_KB}
									{L_SEARCH_PAFILEDB}
									{L_SEARCH_GOOGLE}
								</select>
								<input type="hidden" name="search_fields" value="all" />
								<input type="hidden" name="show_results" value="topics" />
								<input name="search_keywords" id="keywords" type="text" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="inputbox search tiny rightside responsive-search" value="{L_SEARCH}..." 
									onfocus="if(this.value=='...?'){this.value='';}"
									onclick="if(this.value=='{L_SEARCH}...')this.value='';" 
									onblur="if(this.value=='')this.value='{L_SEARCH}...';" 
									placeholder="{L_SEARCH_MINI}" /> 
								<button class="button button-search" type="submit" title="{L_SEARCH}">
									<i class="icon fa-search fa-fw" aria-hidden="true"></i>
									<span class="sr-only">{L_SEARCH}</span>
								</button>
								<a href="{U_SEARCH}" class="button button-search-end" title="{L_SEARCH_ADV}" class="gen">
									<i class="icon fa-cog fa-fw" aria-hidden="true"></i>
									<span class="sr-only" class="gen">{L_SEARCH_ADV}</span>
								</a>
								{S_SEARCH_HIDDEN_FIELDS}
							</fieldset>
							</form>
							
							</td>
							
							<td class="table1 responsive-hide" valign="top" align="left" width="5" height="5" >
								<span class="responsive-hide">&nbsp;&nbsp;</span>
							</td>
							
							<td class="table1 responsive-hide" align="center" valign="middle" width="5%">&nbsp;</td>
						
						</tr>
					</tbody>
					</table>
			</div>
			<!-- ENDIF -->
			<!-- EVENT overall_header_searchbox_after -->	
	<!-- EVENT overall_header_navbar_before -->

	<tbody>
	<div id="page-header" role="navigation">

	<tr id="nav-main" class="nav-main linklist bg2" role="menubar">
				
		<td class="genmed" style="width: 5%; text-align: center;">	
							
		<!-- EVENT overall_header_navigation_prepend -->
		<table id="nav-main" class="table1 nav-main linklist" cellspacing="6" cellpadding="2" border="0" role="menubar">
		<div class="navbar-top" role="navigation">
		<thead>
			<div class="inner">
					<ul id="nav-main" class="nav-main linklist" role="menubar">
					<tr class="bg2"> 
						<td id="quick-links" align="left" class="quick-links dropdown-container responsive-menu<!-- IF not S_DISPLAY_QUICK_LINKS and not S_DISPLAY_SEARCH --> hidden<!-- ENDIF -->" data-skip-responsive="true" role="menuitem">
						
						<span class="mainmenu dropdown-trigger">
							<a href="#" class="dropdown-trigger">
								<i class="icon fa-bars fa-fw" aria-hidden="true">
								<!-- img src="{T_THEME_PATH}/images/icon_mini_forum.gif"  border="0" alt="{L_QUICK_LINKS}" hspace="3" /-->
								</i>
							</a>
						</span>
						
						<div class="dropdown">
							<div class="pointer"><div class="pointer-inner"></div></div>
							<ul class="dropdown-contents" role="menu">
								<!-- EVENT navbar_header_quick_links_before -->

								<!-- IF S_DISPLAY_SEARCH -->
									<li class="separator"></li>
									<!-- IF S_REGISTERED_USER -->
										<li>
										</li>
									<!-- ENDIF -->
									<!-- IF S_USER_LOGGED_IN -->
										<li>
											<a href="{U_SEARCH_NEW}" role="menuitem">
												<i class="icon fa-file-o fa-fw icon-red" aria-hidden="true"></i><span>{L_SEARCH_NEW}</span>
											</a>
										</li>
									<!-- ENDIF -->
										<li class="separator"></li>
										<li>
											<a href="{U_SEARCH}" role="menuitem">
												<i class="icon fa-search fa-fw" aria-hidden="true"></i><span>{L_SEARCH}</span>
											</a>
										</li>
								<!-- ENDIF -->

								<!-- IF not S_IS_BOT and (S_DISPLAY_MEMBERLIST or U_TEAM) -->
									<li class="separator"></li>
									<!-- IF S_DISPLAY_MEMBERLIST -->
										<li>
											<a href="{U_MEMBERLIST}" role="menuitem">
												<i class="icon fa-group fa-fw" aria-hidden="true"></i><span>{L_MEMBERLIST}</span>
											</a>
										</li>
									<!-- ENDIF -->
									<!-- IF U_TEAM -->
										<li>
											<a href="{U_TEAM}" role="menuitem">
												<i class="icon fa-shield fa-fw" aria-hidden="true"></i><span>{L_THE_TEAM}</span>
											</a>
										</li>
									<!-- ENDIF -->
								<!-- ENDIF -->
								<li class="separator"></li>

								<!-- EVENT navbar_header_quick_links_after -->
							</ul>
						</div>
						</td>

						<!-- IF U_ACP -->
						<td data-last-responsive="true" class="table1 responsive-hide" height="15" align="center" valign="top">
							<span class="mainmenu">
							<a href="{U_ACP}" title="{L_ACP}" role="menuitem" class="table1" height="15" align="center" valign="top">
								<i class="icon ion-ios-settings fa-fw" aria-hidden="true"></i>
							</a>
							</span>
						</td>
						<!-- ENDIF -->

						<!-- IF S_USER_LOGGED_OUT -->
						
						<!-- IF not S_IS_BOT -->	
						<!-- IF S_USER_LOGGED_OUT -->
						<td data-last-responsive="true" class="table1 responsive-hide" height="15" align="right" valign="top">
							<span class="mainmenu">
							<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" class="mainmenu" role="menuitem">
								<i class="icon ion-ios-log-in fa-fw" aria-hidden="true"></i>
							</a>
							</span>
						</td>
						<!-- ELSE -->
						<td data-last-responsive="true" class="table1 responsive-hide" height="15" align="right" valign="top">
							<span class="mainmenu">
							<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" class="mainmenu" role="menuitem">
								<i class="icon ion-ios-log-out fa-fw" aria-hidden="true"></i>
							</a>
							</span>
						</td>
						<!-- ENDIF -->
						<!-- ENDIF -->
						
						<td data-last-responsive="true" class="table1 responsive-hide" height="15" align="right" valign="top">
							<span class="mainmenu">
							<a href="{U_REGISTER}" title="{L_REGISTER}" class="mainmenu" role="menuitem">
								<img src="{T_THEME_PATH}/images/icon_mini_register.gif" border="0" alt="{L_REGISTER}" hspace="3" />
							</a>
							</span>
						</td>
						&nbsp;
						<!-- ENDIF -->
	<!-- IF S_REGISTERED_USER -->
						<td data-last-responsive="true" class="forumtitle genmed" height="15" align="right" valign="top">	
		<!-- EVENT navbar_header_user_profile_prepend -->
		<div id="username_logged_in" class="rightside <!-- IF CURRENT_USER_AVATAR --> no-bulletin<!-- ENDIF -->" data-skip-responsive="true">
			<!-- EVENT navbar_header_username_prepend -->
			<div class="header-profile dropdown-container">
				<a href="{U_PROFILE}" class="header-avatar dropdown-trigger"><!-- IF CURRENT_USER_AVATAR -->{CURRENT_USER_AVATAR} <!-- ENDIF --> {CURRENT_USERNAME_SIMPLE}</a>
				<div class="dropdown">
					<div class="pointer"><div class="pointer-inner"></div></div>
					<ul class="dropdown-contents" role="menu">
						<!-- IF U_RESTORE_PERMISSIONS -->
							<li>
								<a href="{U_RESTORE_PERMISSIONS}">
									<i class="icon fa-refresh fa-fw" aria-hidden="true"></i>
									<span>{L_RESTORE_PERMISSIONS}</span>
								</a>
							</li>
						<!-- ENDIF -->

					<!-- EVENT navbar_header_profile_list_before -->

						<li>
							<a href="{U_PROFILE}" title="{L_PROFILE}" role="menuitem">
								<i class="icon fa-sliders fa-fw" aria-hidden="true"></i><span>{L_PROFILE}</span>
							</a>
						</li>
						
						<li>
							<a href="{U_USER_PROFILE}" title="{L_READ_PROFILE}" role="menuitem">
								<i class="icon fa-user fa-fw" aria-hidden="true"></i><span>{L_READ_PROFILE}</span>
							</a>
						</li>

						<!-- EVENT navbar_header_profile_list_after -->

						<li class="separator"></li>
						<li>
							<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x" role="menuitem">
								<i class="icon fa-power-off fa-fw" aria-hidden="true"></i><span>{L_LOGIN_LOGOUT}</span>
							</a>
						</li>
						
					</ul>
				</div>
			</div>
			<!-- EVENT navbar_header_username_append -->
		</div>

	<!-- ELSE -->
		<div class="rightside" data-skip-responsive="true">
			<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" accesskey="x" role="menuitem">
				<i class="icon fa-power-off fa-fw" aria-hidden="true"></i><span>{L_LOGIN_LOGOUT}</span>
			</a>
		</div>
		<!-- IF S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) -->
			<div class="rightside" data-skip-responsive="true">
				<a href="{U_REGISTER}" role="menuitem">
					<i class="icon fa-pencil-square-o  fa-fw" aria-hidden="true"></i><span>{L_REGISTER}</span>
				</a>
			</div>
		<!-- ENDIF -->
		<!-- EVENT navbar_header_logged_out_content -->
						</td>
	<!-- ENDIF -->
					</tr>
					</ul>
			</div>
					</thead>
		</div>
					<tbody>
					<tr class="bg2">

						
						<!-- IF U_ACP -->
						<td data-last-responsive="true" class="table1 forumtitle responsive-hide" height="15" align="left" valign="top">
							<span class="mainmenu">
								<a href="{U_ACP}" title="{L_ACP}" role="menuitem">
								<span>{L_ACP_SHORT} </span>
								</a>
							</span>
						</td>
						<!-- ENDIF -->
						
						
						<!-- IF not S_IS_BOT -->
						
						

						
						<!-- ENDIF -->
						
						

						
						<!-- IF S_USER_LOGGED_OUT -->
						
						<!-- IF not S_IS_BOT -->						
						<td data-last-responsive="true" class="forumtitle genmed responsive-hide" height="15" align="right" valign="top">
							<span class="mainmenu">
								<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" class="mainmenu">
								<span>{L_LOGIN_LOGOUT}&nbsp; </span>
								</a>
							</span>
						</td>
						<!-- ENDIF -->
						
						<td data-last-responsive="true" class="forumtitle genmed responsive-hide" height="15" align="right" valign="top">
						<span class="mainmenu">						
							<a href="{U_REGISTER}" title="{L_REGISTER}" class="mainmenu">
							<span>{L_REGISTER} </span>
							</a>
						</span>
						</td>
						<!-- ENDIF -->
	
						<!-- IF S_REGISTERED_USER -->
						<td data-last-responsive="true" class="forumtitle genmed" height="15" align="center" valign="top">	


						<!-- EVENT navbar_header_user_profile_append -->						
						
						</td>		
						<!-- ENDIF -->						

						</tr>
					<tr class="bg2"> 					
						<td data-last-responsive="true" class="forumtitle genmed" align="{S_CONTENT_FLOW_END}">					
						<!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN --> &nbsp;<span style="color: red;">{L_BOARD_DISABLED}</span><!-- ENDIF -->							
						</td>	
					</tr>					
					</tbody>
					
				</table>
			<!-- EVENT overall_header_navigation_append -->					
				
		</td>	
	</tr>
	
	</div>	
	</tbody>
	<!-- EVENT overall_header_navbar_after -->	
</table>	

					<!-- IF PHPBB_STATS -->
	<div id="datebar">

	</div>
					<!-- ENDIF -->
<!-- EVENT overall_header_body_content_before -->
<div id="wrapcentre wrap" class="wrap">

	<!-- IF S_DISPLAY_SEARCH -->
	<p class="searchbar">

	</p>
	<!-- ENDIF -->

	<br style="clear: both;" />

	<!-- INCLUDE breadcrumbs.html -->

	<!-- EVENT overall_header_page_body_before -->

	<a id="start_here" class="anchor"></a>
	<div id="page-body" class="page-body" role="main">
		<!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN and (U_MCP or U_ACP) -->
		<div id="information" class="rules">
			<div class="inner">
				<strong>{L_INFORMATION}{L_COLON}</strong> {L_BOARD_DISABLED}
			</div>
		</div>
		<!-- ENDIF -->

		<!-- EVENT overall_header_content_before -->
