<div class="forabg block">
	<div class="inner">
<div class="navbar" style="padding:0px;">
<!-- BEGIN switch_is_admin -->
	<ul class="linklist" style="padding-left:10px;padding-top:5px;padding-bottom:5px;">
		<b>{switch_is_admin.L_CHANGE_NOW}</b>
	</ul>

<div class="post bg2">
	<div class="inner">
		<div class="postbody" style="padding-top:5px;padding-bottom:5px;">
			<form method="post" action="{ACTION_URL}">
				{switch_is_admin.LANG_SELECT}&nbsp;&nbsp;<br />
				<input type="submit" class="button2" name="change_default_lang" value="{L_CHANGE_NOW}" style="margin-top:5px;" />
			</form>
		</div>
		<span class="corner-bottom"><span></span></span>
	</div>
</div>
<!-- END switch_is_admin -->
<!-- BEGIN switch_is_user -->
	<ul class="linklist" style="padding-left:10px;padding-top:5px;padding-bottom:5px;">
		<b>{switch_is_user.L_CHANGE_NOW}</b>
	</ul>
<div class="post bg1">
	<div class="inner">
		<div class="postbody" style="padding-top:5px;padding-bottom:5px;">
			<form method="post" action="{ACTION_URL}">
				{switch_is_user.LANG_SELECT}&nbsp;&nbsp;<br />
				<input type="submit" class="button2" name="change_user_lang" value="{L_CHANGE_NOW}" style="margin-top:5px;" />
			</form>
		</div>
		<span class="corner-bottom"><span></span></span>
	</div></div></div>
<!-- END switch_is_user -->
<span class="corners-bottom"><span></span></span>
</div>
</div>