<div class="forabg block">
	<!-- BEGIN no_row -->
	<div class="inner bg1 post" style="margin-bottom:0px">
	{no_row.L_NO_ITEMS}
	</div>
	<!-- END no_row -->
	<!-- BEGIN msg_row -->
	<div class="inner bg2 post" style="margin-bottom:0px">
	<dl>
	<dd><img src="{msg_row.FOLDER_IMG}" width="19" height="18" alt="{msg_row.L_TOPIC_FOLDER_ALT}" title="{msg_row.L_TOPIC_FOLDER_ALT}" /></dd>
	<dt>
		<span class="gen"><b><a href="{msg_row.U_PAGE}" target="{U_TARGET}" class="genmed">{msg_row.LAST_PAGE}</a></b></span><br />
		<span class="genmed">&raquo;&nbsp;<a href="{msg_row.U_BLOCK}"  target="{U_TARGET}" class="genmed">{msg_row.LAST_BLOCK}</a></span><br />
		<span class="gensmall"><i>{msg_row.EXTRA}</i>{msg_row.L_BLOCK_UPDATED}{msg_row.EDITOR} ({msg_row.EDIT_TIME}</span>)
	</dt>
	</dl>
	</div>
	<!-- END msg_row -->
	<span class="corners-bottom"><span></span></span>
</div>
