<table border="0" cellspacing="5" cellpadding="0" width="100%" id="main_table" onload="go_trough( this)">
<tr>
	<!-- BEGIN layout_column -->
	<td width="{layout_column.BLOCK_SIZE}" valign="top">
		<!-- BEGIN blocks -->
		<!-- BEGIN sub_start -->
		<table border="0" cellspacing="0" cellpadding="0" width="{layout_column.BLOCK_SIZE}" onload="go_trough( this)">
			<tr>
		<!-- END sub_start -->

			<!-- BEGIN sub_col -->
				{layout_column.blocks.sub_col.INNER_SPACE}
				<td class="{layout_column.blocks.sub_col.COL_CLASS}" width="{layout_column.blocks.sub_col.BLOCK_SIZE}">
			<!-- END sub_col -->
					<!-- BEGIN show_title -->
					<div class="forabg" style="margin-bottom:0px;padding-bottom:0px;">
						<div class="inner">
							<span class="corners-top"><span></span></span>
					<!-- END show_title -->
		  						<!-- BEGIN block_header -->
								<ul class="topiclist">
		  						<!-- END block_header -->

									<!-- BEGIN edit -->
										<li style="float:right">
										<form action="{layout_column.blocks.edit.EDIT_ACTION}" method="post" class="mx_editform">
										{layout_column.blocks.edit.EDIT_IMG}
										{layout_column.blocks.edit.S_HIDDEN_FORM_FIELDS}
										</form>
										</li>
										<!-- BEGIN hidden_block -->
										<li style="float:right">HB {layout_column.blocks.edit.hidden_block.HIDDEN_BLOCK}</li>
										<!-- END hidden_block -->
									<!-- END edit -->

									<!-- BEGIN show_title -->
										<li class="header">
										<dl class="icon"><dt class="header">{layout_column.blocks.show_title.L_TITLE}</dt></dl>
										</li>
									<!-- END show_title -->

								<!-- BEGIN block_header -->
								</ul>
								<!-- END block_header -->
					<!-- BEGIN show_title -->
						</div>
					</div>
					<!-- END show_title -->
					{layout_column.blocks.BLOCK}

					<!-- BEGIN block_stats -->
					<div align="right"><span class="copyright">{layout_column.blocks.block_stats.L_BLOCK_UPDATED}{layout_column.blocks.block_stats.EDITOR_NAME} ({layout_column.blocks.block_stats.EDIT_TIME})</span></div>
					<br clear="all" />
					<!-- END block_stats -->

			<!-- BEGIN sub_col -->
				</td>
			<!-- END sub_col -->

		<!-- BEGIN sub_start -->
			</tr>
		</table>
		<!-- END sub_start -->
		<!-- END blocks -->
	</td>
	<!-- END layout_column -->
</tr>
</table>
<script type="text/javascript">
<!--
function getObj(obj)
{
	return ( document.getElementById ? document.getElementById(obj) : ( document.all ? document.all[obj] : null ) );
}
function go_trough( obj)
{
	obj1 = obj.rows[0].childNodes;
	for( i = 0; i < obj1.length; i++)
	{
		if ( obj1[i].nodeName == 'TD' && obj1[i].width == '100%')
		{
			obj1[i].width='';
		}
	}
}

go_trough( getObj('main_table'));
-->
</script>