BODY {
	SCROLLBAR-FACE-COLOR: #dee3e7; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #dee3e7; SCROLLBAR-3DLIGHT-COLOR: #d1d7dc; SCROLLBAR-ARROW-COLOR: #006699; SCROLLBAR-TRACK-COLOR: #efefef; SCROLLBAR-DARKSHADOW-COLOR: #98aab1; BACKGROUND-COLOR: #e5e5e5
}

pre { background-color: #eeeeee; padding: 0.75em 1.5em; border: 1px solid #dddddd; }

.contents { float: right; background-color: #eeeeee; padding: 0.75em; margin: 0 0 0.75em 0.75em; border: 1px solid #dddddd; }

.contents ul { margin-left: 1.2em; margin-right: 0.75em; margin-bottom: 0; padding: 0; }

FONT {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TH {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
TD {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
P {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A:link {
	COLOR: #006699
}
A:active {
	COLOR: #006699
}
A:visited {
	COLOR: #006699
}
A:hover {
	COLOR: #dd6900; TEXT-DECORATION: underline
}
HR {
	BORDER-RIGHT: #d1d7dc 0px solid; BORDER-TOP: #d1d7dc 1px solid; BORDER-LEFT: #d1d7dc 0px solid; BORDER-BOTTOM: #d1d7dc 0px solid; HEIGHT: 0px
}
.bodyline {
	BORDER-RIGHT: #98aab1 1px solid; BORDER-TOP: #98aab1 1px solid; BORDER-LEFT: #98aab1 1px solid; BORDER-BOTTOM: #98aab1 1px solid; BACKGROUND-COLOR: #ffffff
}
.forumline {
	BORDER-RIGHT: #006699 2px solid; BORDER-TOP: #006699 2px solid; BORDER-LEFT: #006699 2px solid; BORDER-BOTTOM: #006699 2px solid; BACKGROUND-COLOR: #ffffff
}
TD.row1 {
	BACKGROUND-COLOR: #efefef
}
TD.row2 {
	BACKGROUND-COLOR: #dee3e7
}
TD.row3 {
	BACKGROUND-COLOR: #d1d7dc
}
TD.rowpic {
	BACKGROUND-IMAGE: url('templates/subSilver/images/cellpic2.jpg'); BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: #ffffff
}
TH {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND-IMAGE: url('templates/subSilver/images/cellpic3.gif'); COLOR: #ffa34f; HEIGHT: 25px; BACKGROUND-COLOR: #006699
}
TD.cat {
	border:medium solid #ffffff; BACKGROUND-IMAGE: url('templates/subSilver/images/cellpic1.gif'); HEIGHT: 28px; BACKGROUND-COLOR: #d1d7dc
}
TD.catHead {
	border:medium solid #ffffff; BACKGROUND-IMAGE: url('templates/subSilver/images/cellpic1.gif'); HEIGHT: 28px; BACKGROUND-COLOR: #d1d7dc
}
TD.catSides {
	border:medium solid #ffffff; BACKGROUND-IMAGE: url('templates/subSilver/images/cellpic1.gif'); HEIGHT: 28px; BACKGROUND-COLOR: #d1d7dc
}
TD.catLeft {
	border:medium solid #ffffff; BACKGROUND-IMAGE: url('templates/subSilver/images/cellpic1.gif'); HEIGHT: 28px; BACKGROUND-COLOR: #d1d7dc
}
TD.catRight {
	border:medium solid #ffffff; BACKGROUND-IMAGE: url('templates/subSilver/images/cellpic1.gif'); HEIGHT: 28px; BACKGROUND-COLOR: #d1d7dc
}
TD.catBottom {
	border:medium solid #ffffff; BACKGROUND-IMAGE: url('templates/subSilver/images/cellpic1.gif'); HEIGHT: 28px; BACKGROUND-COLOR: #d1d7dc
}
TD.cat {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 29px; BORDER-RIGHT-WIDTH: 0px
}
TD.catHead {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 29px; BORDER-RIGHT-WIDTH: 0px
}
TD.catBottom {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; HEIGHT: 29px; BORDER-RIGHT-WIDTH: 0px
}
TH.thHead {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; FONT-WEIGHT: bold; BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px
}
TH.thSides {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; FONT-WEIGHT: bold; BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px

}
TH.thTop {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; FONT-WEIGHT: bold; BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px
}
TH.thLeft {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; FONT-WEIGHT: bold; BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px
}
TH.thRight {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; FONT-WEIGHT: bold; BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px
}
TH.thBottom {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; FONT-WEIGHT: bold; BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px
}
TH.thCornerL {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; FONT-WEIGHT: bold; BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px
}
TH.thCornerR {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; FONT-WEIGHT: bold; BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; HEIGHT: 28px
}
TD.row3Right {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; BACKGROUND-COLOR: #d1d7dc
}
TD.spaceRow {
	BORDER-RIGHT: #ffffff solid; BORDER-TOP: #ffffff solid; BORDER-LEFT: #ffffff solid; BORDER-BOTTOM: #ffffff solid; BACKGROUND-COLOR: #d1d7dc
}
TH.thHead {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
TD.catHead {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 12px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
TH.thSides {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
TD.catSides {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
TD.spaceRow {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
TH.thRight {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
TD.catRight {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
TD.row3Right {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
TH.thLeft {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TD.catLeft {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TH.thBottom {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
TD.catBottom {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px
}
TH.thTop {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TH.thCornerL {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
TH.thCornerR {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 1px
}
.maintitle {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; COLOR: #000000; LINE-HEIGHT: 120%; FONT-FAMILY: "Trebuchet MS",Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.gen {
	FONT-SIZE: 12px
}
.genmed {
	FONT-SIZE: 11px
}
.gensmall {
	FONT-SIZE: 10px
}
.gen {
	COLOR: #000000
}
.genmed {
	COLOR: #000000
}
.gensmall {
	COLOR: #000000
}
A.gen {
	COLOR: #006699; TEXT-DECORATION: none
}
A.genmed {
	COLOR: #006699; TEXT-DECORATION: none
}
A.gensmall {
	COLOR: #006699; TEXT-DECORATION: none
}
A.gen:hover {
	COLOR: #dd6900; TEXT-DECORATION: underline
}
A.genmed:hover {
	COLOR: #dd6900; TEXT-DECORATION: underline
}
A.gensmall:hover {
	COLOR: #dd6900; TEXT-DECORATION: underline
}
.mainmenu {
	FONT-SIZE: 11px; COLOR: #000000
}
A.mainmenu {
	COLOR: #006699; TEXT-DECORATION: none
}
A.mainmenu:hover {
	COLOR: #dd6900; TEXT-DECORATION: underline
}
.cattitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #006699; LETTER-SPACING: 1px
}
A.cattitle {
	COLOR: #006699; TEXT-DECORATION: none
}
A.cattitle:hover {
	TEXT-DECORATION: underline
}
.forumlink {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #006699
}
A.forumlink {
	COLOR: #006699; TEXT-DECORATION: none
}
A.forumlink:hover {
	COLOR: #dd6900; TEXT-DECORATION: underline
}
.nav {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000
}
A.nav {
	COLOR: #006699; TEXT-DECORATION: none
}
A.nav:hover {
	TEXT-DECORATION: underline
}
.topictitle {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000
}
A.topictitle:link {
	COLOR: #006699; TEXT-DECORATION: none
}
A.topictitle:visited {
	COLOR: #5493b4; TEXT-DECORATION: none
}
A.topictitle:hover {
	COLOR: #dd6900; TEXT-DECORATION: underline
}
.name {
	FONT-SIZE: 11px; COLOR: #000000
}
.postdetails {
	FONT-SIZE: 10px; COLOR: #000000
}
.postbody {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px
}
A.postlink:link {
	COLOR: #006699; TEXT-DECORATION: none
}
A.postlink:visited {
	COLOR: #5493b4; TEXT-DECORATION: none
}
A.postlink:hover {
	COLOR: #dd6900; TEXT-DECORATION: underline
}
.code {
	BORDER-RIGHT: #d1d7dc 1px solid; BORDER-TOP: #d1d7dc 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #d1d7dc 1px solid; COLOR: #006600; BORDER-BOTTOM: #d1d7dc 1px solid; FONT-FAMILY: Courier, 'Courier New', sans-serif; BACKGROUND-COLOR: #fafafa
}
.quote {
	BORDER-RIGHT: #d1d7dc 1px solid; BORDER-TOP: #d1d7dc 1px solid; FONT-SIZE: 11px; BORDER-LEFT: #d1d7dc 1px solid; COLOR: #444444; LINE-HEIGHT: 125%; BORDER-BOTTOM: #d1d7dc 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fafafa
}
.copyright {
	FONT-SIZE: 10px; COLOR: #444444; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: -1px
}
A.copyright {
	COLOR: #444444; TEXT-DECORATION: none
}
A.copyright:hover {
	COLOR: #000000; TEXT-DECORATION: underline
}
INPUT {
	BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; FONT: 11px Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; BORDER-TOP-COLOR: #000000; BORDER-RIGHT-COLOR: #000000
}
TEXTAREA {
	BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; FONT: 11px Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; BORDER-TOP-COLOR: #000000; BORDER-RIGHT-COLOR: #000000
}
SELECT {
	BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; FONT: 11px Verdana, Arial, Helvetica, sans-serif; COLOR: #000000; BORDER-TOP-COLOR: #000000; BORDER-RIGHT-COLOR: #000000
}
INPUT.post {
	BACKGROUND-COLOR: #ffffff
}
TEXTAREA.post {
	BACKGROUND-COLOR: #ffffff
}
SELECT {
	BACKGROUND-COLOR: #ffffff
}
INPUT {
	TEXT-INDENT: 2px
}
INPUT.button {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #efefef
}
INPUT.mainoption {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #fafafa
}
INPUT.liteoption {
	FONT-WEIGHT: normal; BACKGROUND-COLOR: #fafafa
}
.helpline {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #dee3e7; BORDER-BOTTOM-STYLE: none
}