/*  phpBB 3.0 Style Sheet
    --------------------------------------------------------------
	Style name:		proSilver
	Based on style:	proSilver (this is the default phpBB 3 style)
	Original author:	subBlue ( http://www.subBlue.com/ )
	Modified by:		
	
	Copyright 2006 phpBB Group ( http://www.phpbb.com/ )
    --------------------------------------------------------------
*/

@import url("common.css");
@import url("links.css");
@import url("content.css");
@import url("buttons.css");
@import url("cp.css");
@import url("forms.css");
@import url("tweaks.css");
@import url("colours.css");

/* General markup styles */
* {
	padding: 0;
	margin: 0;
}

body {
	font: 10pt Verdana, Arial, Helvetica, sans-serif;
	color:#164646;
}

a:link		{ color: #014646; text-decoration: none; }
a:visited	{ color: #164646; text-decoration: none; }
a:active	{ color: #001046; text-decoration: none; }


/* Display smilies */
.content img {
	display: inline;
}

/* Container for the main body */
#wrap {
	margin: 0 2em;
}

p { font-size: 100%; }
.copyright { font-size: 100%; }
.page-number { float:right; width: auto; text-align: right; font-size: 100%; }

h1, h2, h3, h1 a, h2 a, h3 a {
	font-family: "Trebuchet MS", georgia, Verdana, Sans-serif;
	color: #164646;
	background: none;
	text-decoration: none;
	font-weight: bold;
}

h1 { font-size: 20pt; }
h2 { font-size: 16pt; margin-top: 1em; }
h3 { font-size: 14pt; margin-top: 1em; }

.content {
	font-size: 11pt;
	line-height: 14pt;
	margin-bottom: 1em;
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	overflow: hidden;
}

/* CSS2 Print tip from: http://www.alistapart.com/articles/goingtoprint/ */
.postbody a:link, .postbody a:visited, .postbody a:hover, .postbody a:active {
	text-decoration: underline;
	padding: 0.1em 0.2em;
	margin: -0.1em -0.2em;
	color: #164646;
	background: none;
	font-size: 100%;
}

html>body .postbody a:link:after, html>body .postbody a:visited:after {
	font-family: "Trebuchet MS", georgia, Verdana, Sans-serif;
	color: #164646;
	background: none;
	text-decoration: none;
	font-weight: bold;
}

html>body .postbody a:active:after {
	content: " (" attr(title) ") ";
}

hr {
	height: 1px;
	background-color: #999999;
	border-width: 0;
}

.author {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-bottom: 0.6em;
}

.date {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	float: right;
	position: relative;
	text-align: right;
}

/* Dont want to print url for names or titles in content area */
.postbody .author a:link, .postbody .author a:visited,
html>body .postbody .author a:link:after,
html>body .postbody .author a:visited:after,
.postquote .quote-by a:link, .postquote .quote-by a:visited,
html>body .postquote .quote-by a:link:after,
html>body .postquote .quote-by a:visited:after,
html>body .postbody h1 a:link:after, html>body .postbody h2 a:link:after {
	text-decoration: none;
	content: "";
}


/* Quote */
.postquote, blockquote {

	margin: 1em 18% 1em 4%;
	padding: 0.5em;
	position: relative;
	line-height: 1.5em;
	border: 1px #999999 solid;
}

.postquote span { display: block; }
.postquote span .postquote { font-size: 100%; }
.quote-by, blockquote cite {
	color: black;
	display : block;
	font-weight: bold;
}

/* List */
ol, ul {
	margin-left: 15pt
}

/* Misc page elements */
div.spacer { clear: both; }


.headerbar {
	background-color: #7C8891;
	background-image: url("./images/bg_header_srip.gif");
}

.navbar {
	background-color: #DCDEE2;
}

.forabg, .forumbg {
	background-color: #505C65;
	background-image: url("./images/bg_list_srip.gif");
}

.copyright a {
	color: #000000 !important;
}

/* content.css changes */
li.row {
	background-color: #E8ECEE;
}

li.row:hover {
	background-color: #EBEFF1;
}

li.row.bg3 {
	background-color: #F0F4F6;
}

li.row.bg3:hover {
	background-color: #F4F8FA;
}


.block {
	background-position: 0px -20px;
}

.blockbody {
	padding: 3px;
	margin-bottom: 4px;
	background-repeat: no-repeat;
	background-position: 100% 0;
} 
.textbody {
	padding: 0;
	line-height: 1.48em;
	color: #333333;
	clear: both;
}

.textbody .ignore {
	font-size: 1.1em;
}

.textbody .content {
	font-size: 1.2em;
}
.textbody h3.first {
	/* The first post on the page uses this */
	font-size: 1.5em;
}

.textbody h3 {
	/* Postbody requires a different h3 format - so change it here */
	font-size: 1.4em;
	padding: 2px 0 0 0;
	margin: 0 0 0.3em 0 !important;
	text-transform: none;
	border: none;
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	line-height: 125%;
}

.textbody h3 img {
	/* Also see tweaks.css */
	vertical-align: bottom;
}

.blockcp {
	width: 100%;
	border: 1px solid #CCCFD3;
	background-color: #FFFFFF;
	padding: 1px;
}

.blockcp th {
	padding: 3px 4px;
	color: #FFFFFF;
	background: #70AED3 url("./images/gradient2b.gif") bottom left repeat-x;
	border-top: 1px solid #6DACD2;
	border-bottom: 1px solid #327AA5;
	text-align: left;
	text-transform: uppercase;
}
.blockcp .row1 { background-color: #F9F9F9; }
.blockcp .row2 { background-color: #DCEBFE; }

.blockcp .explain { font-style:italic;font-weight:normal;}

.blockcp fieldset {
	margin: 10px 10px 15px 10px;
	padding: 10px;
	border-top: 1px solid #D7D7D7;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #D7D7D7;
	background-color: #FFFFFF;
	position: relative;
}
.blockcp .delete {
	color: Red;
}
.blockcp fieldset.menurows {
	padding:1px;
}

.blockcp .row {
	padding: 3px 5px 3px 5px;
}
.blockcp .row:hover {
	background-color: #F6F4D0;
}

.blockcp legend {
	padding: 1px 0;
	font-family: Tahoma, arial, Verdana, Sans-serif;
	font-size: 1.0em;
	font-weight: bold;
	color: #115098;
	margin-top: -.3em;
	position: relative;
	text-transform: none;
	line-height: 1.2em;
	top: 0;
	vertical-align: middle;
}

/* Hide from macIE \*/
.blockcp legend { top: -1.2em; }
/* end */

.blockcp fieldset dl:hover dt label {
	color: #000000;
}

.blockcp fieldset.fields2 dl:hover dt label {
	color: inherit;
}

/* Quick-login on index page */
.blockcp fieldset.quick-login input {
	background-color: #F2F3F3;
}

.blockcp fieldset dl {
	margin-bottom: 10px;
	
	font-size: 0.85em;
	
}

.blockcp fieldset dt {
	width: 45%;
	text-align: left;
	border: none;
	border-right: 1px solid #CCCCCC;
	padding-top: 3px;
	padding-right: 5px;
	margin-right:5px;
	font-weight: normal;
	text-transform: none;
	text-align: right;
}
.blockcp dt .explain { font-style: italic;}

.blockcp dd { color: #565656; margin-left:5px; padding-left:5px;}
.blockcp dd + dd { padding-top: 5px;}
.blockcp dt span { padding: 0 5px 0 0;}

.blockcp dd input {
	font-size: 1.00em;
	max-width: 100%;
}

.blockcp dd select {
	font-size: 100%;
	width: auto;
	max-width: 100%;
}

.blockcp dd textarea {
	font-size: 0.90em;
}

.blockcp dd select {
	width: auto;
	font-size: 1.00em;
}

.blockcp .dividers {
	border-top:solid 1px #CCCCCC;

}
.blockcp .dividers span{
	top: -1.2em;
}

H1.blockcp {
	font-weight: normal;
	color: #28313F;
	border-bottom: 1px solid #CCCCCC;
	font-size: 1.6em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
	
}

/***********\
|* SiteBar *|
\***********/
.sitebar {
	clear: both;
	margin-top: 2px;
	background: #595C6E url("./images/sitebar_bg_srip.gif") repeat-x;
}
.sitebar .corners-bottom {
	top: -5px;
	margin-top:0px;
	position:relative;

}

.sitebar UL {
	margin-left: 0px;
	padding-bottom: 1px;
	font-weight: bold;
}

.sitebar UL LI {
	float:left;
	display:block;
}
.sitebar .button a.nav, .sitebar .button-current a.nav {
	font: bold 'Trebuchet MS', 'Lucida Grande', Arial, sans-serif;
	color: #FFFFFF;	
	background: #A9A9A9 url("./images/sitebar_bg_srip.gif") repeat-x;
	background-position: -1px -44px;		
}

.sitebar .button a.nav , .sitebar .button-current a.nav {
	font-size: 1.3em;
	padding: 3px 5px 3px 5px;
	color: #FFFFFF;
	display:block;
	text-decoration: none;
}
.sitebar .button-current a.nav {
	background-position: 0 -44px;
	color: #595C6E;
}

.sitebar UL LI.button A.nav:active, .sitebar UL LI.button-current A.nav:active {
	background-color: #CCCCCC;
	background-image: url("./images/bg_active.gif");
	background-position: -1px 0px;
	color: Red;
}

.sitebar UL LI.button A.nav:hover, .sitebar UL LI.button-current A.nav:hover {
	background-color: #CCCCCC;
	background-position: 0 -22px;
	color: #000000;
}

.linklist .icon {
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-image: none;
	padding: 1px 0 0 17px;
}

UL.rightside {
	float: right;
}
.rtl ul.linklist li.rightside, .rtl p.rightside {
	float: right;
	margin-right: 0;
	margin-left: 5px;
	text-align: right;
}

/* Search box
--------------------------------------------- */
#nav-search {
	color: #FFFFFF;
	position: relative;
	margin-top: 1px;
	margin-right: 5px;
	margin-bottom: 1px;
	display: block; 
	float: right;
	text-align: right;
	white-space: nowrap; /* For Opera */
}

.rtl #nav-search {
	float: left;
	text-align: left;
	margin-right: 0;

}

#nav-search #keywords {
	width: 95px;
	background-color: #FFF;
}

#nav-search input {
	border: 1px solid #b0b0b0;
}

/* .button1 style defined later, just a few tweaks for the search button version */
#nav-search input.button1 {
	padding: 1px 5px;
}

#nav-search li {
	text-align: right;

}

#nav-search img {
	vertical-align: middle;
	margin-right: 3px;
}

#tabs a span{
	float: left;
	display: block;
	background: url("./images/bg_tabs2.gif") no-repeat 100% -35px;
	padding: 7px 10px 4px 4px;
	color: #767676;
	white-space: nowrap;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}
#tabs .activetab a span {
	background-position: 100% 0;
	padding-bottom: 5px;
	color: #23649F;
}

#tabs a:hover {
	background-position: 0 -69px;
}

#tabs a:hover span {
	background-position: 100% -69px;
}

#tabs .activetab a:hover span {
	color: #115098;
}

.fieldset1, .fieldset1 FIELDSET {
	border: solid 1px #CCCCCC;
	background-color: #FFFFFF;
	padding:10px;
}

.fieldset1 FORM * {
	font-size: 1.0em;
}

