<h1>{L_WORDS_TITLE}</h1>
<p>{L_WORDS_TEXT}</p>
<form method="post" action="{S_WORDS_ACTION}">
<p style="float:right">{S_HIDDEN_FIELDS}
<input type="submit" name="add" value="{L_ADD_WORD}" class="button2" />
</p>
<div style="clear:both"></div>
<table cellspacing="1" cellpadding="4">
	<thead>
	<tr>
		<th class="thCornerL">{L_WORD}</th>
		<th class="thTop">{L_REPLACEMENT}</th>
		<th class="thCornerR">{L_ACTION}</th>
	</tr>
	</thead>
	<tbody>
	<!-- BEGIN words -->
	<tr class="{words.ROW_CLASS}">
		<td align="center">{words.WORD}</td>
		<td align="center">{words.REPLACEMENT}</td>
		<td>
		<a href="{words.U_WORD_EDIT}" title="{L_EDIT}"><img src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}images/admin_icons/icon_edit.gif"></a>
		<a href="{words.U_WORD_DELETE}" title="{L_DELETE}"><img src="{U_PORTAL_ROOT_PATH}{TEMPLATE_ROOT_PATH}images/admin_icons/icon_delete.gif"></a>
		</td>
	</tr>
	<!-- END words -->
	</tbody>
</table>
</form>
