<h1>{L_CONFIGURATION_TITLE}</h1>
<p>{L_CONFIGURATION_EXPLAIN}</p>

<form action="{S_CONFIG_ACTION}" method="post">
<fieldset>
	<legend>META TAGS</legend>
	<dl>
		<dt><label for="title">{L_TITLE}</label></dt>
		<dd><input type="text" name="title" id="title" value="{TITLE}" size="32" /></dd>
	</dl>
	<dl>
		<dt><label for="author">{L_AUTHOR}</label></dt>
		<dd><input type="text" name="author" id="author" value="{AUTHOR}" size="32" /></dd>
	</dl>
	<dl>
		<dt><label for="copyright">{L_COPYRIGHT}</label></dt>
		<dd><input type="text" name="copyright" id="copyright" value="{COPYRIGHT}" size="32" /></dd>
	</dl>
	<dl>
		<dt><label for="keywords">{L_KEYWORDS}</label><br /><span class="explain">{L_KEYWORDS_EXPLAIN}</span></dt>
		<dd><input type="text" name="keywords" id="keywords" value="{KEYWORDS}" size="65" /></dd>
	</dl>
	<dl>
		<dt><label for="description">{L_DESCRIPTION}</label></dt>
		<dd><input type="text" name="description" id="description" value="{DESCRIPTION}" size="65" /></dd>
	</dl>
	<dl>
		<dt><label for="">{L_LANGUAGE}</label></dt>
		<dd>{LANGUAGE}</dd>
	</dl>
	<dl>
		<dt><label for="">{L_RATING}</label></dt>
		<dd>{RATING}</dd>
	</dl>
	<dl>
		<dt><label for="">{L_ROBOTS}</label></dt>
		<dd>{ROBOTS_INDEX}&nbsp;{ROBOTS_FOLLOW}</dd>
	</dl>
	<dl>
		<dt><label for="pragma">{L_PRAGMA}</label></dt>
		<dd><input type="checkbox" name="pragma" id="pragma" value="1" class="radio" {PRAGMA}/>
		</dd>
	</dl>
	<dl>
		<dt><label for="icon">{L_BOOKMARK}</label><br /><span class="explain">{L_BOOKMARK_EXPLAIN}</span></dt>
		<dd><input type="text" name="icon" id="icon" value="{ICON}" size="34" /></dd>
	</dl>
	<dl>
		<dt><label for="header">{L_HTITLE}</label></dt>
		<dd><textarea name="header" id="header" rows="6" cols="40">{HEADER}</textarea>
		</dd>
	</dl>
	<p align="center">
	{S_HIDDEN_FIELDS}
	<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />&nbsp;&nbsp;<input type="reset" value="{L_RESET}" class="button2" />
	</p>
</fieldset>
</form>
<br clear="all" />