<div class="forabg block">
	<div id="p1" class="inner bg2">
	<!-- BEGIN iframe_mode -->
	<div class="post bg2">
		<div class="inner">
			<div class="postbody" style="padding-top:5px;padding-bottom:5px;">
				<iframe width="100%" height="{iframe_mode.IFRAME_HEIGHT}" src="{iframe_mode.FILE_URL}" frameborder="0">
					If you can see this, your browser doesn't understand IFRAME. However, we'll still <a href="{iframe_mode.FILE_URL}">link</a> you to the file.
				</iframe>
			</div>
		</div>
	</div>
	<!-- END iframe_mode -->

	<!-- BEGIN textfile_mode -->
	<div class="post bg2">
		<div class="inner">
			<div class="postbody" style="padding-top:5px;padding-bottom:5px;">
				{textfile_mode.FILE_CONTENTS}
			</div>
		</div>
	</div>	
	<!-- END textfile_mode -->

	<!-- BEGIN multimedia_mode -->
	<div class="post bg2">
		<div class="inner">
			<div class="postbody" style="padding-top:5px;padding-bottom:5px;">
				<div align="center">
					<object width="320" height="315" classid="clsid:22D6F312-B0F6-11D0-94AB-0080C74C7E95">
						<param name="src" value="{multimedia_mode.MEDIA_URL}">
						<embed src="/directory/sample.wmv" {multimedia_mode.WIDTH} {multimedia_mode.HEIGHT}
							pluginspage="http://www.microsoft.com/Windows/MediaPlayer/" type="video/x-ms-asf-plugin">
						</embed>
					</object>
					<!-- <embed type="application/x-mplayer2" src="{multimedia_mode.MEDIA_URL}" {multimedia_mode.HEIGHT} {multimedia_mode.WIDTH} border="0" autoplay="TRUE" controller="TRUE" pluginspage="http://www.microsoft.com/windows/windowsmedia/default.asp" ></embed> -->
				</div>
			</div>
		</div>
	</div>
	<!-- END multimedia_mode -->

	<!-- BEGIN pic_mode -->
	<div class="post bg2">
		<div class="inner">
			<div class="postbody" style="padding-top:5px;padding-bottom:5px;">
				{pic_mode.FILE_CONTENTS}
			</div>
		</div>
	</div>
	<!-- END pic_mode -->
		<span></span>
	</div>
	<span class="corners-bottom"><span></span></span>
</div>