<h1>{L_WORDS_TITLE}</h1>
<p>{L_WORDS_TEXT}</p>

<form method="post" action="{S_WORDS_ACTION}">
<fieldset>
	<legend>{L_WORD_CENSOR}</legend>
	<dl>
		<dt><label for="word">{L_WORD}</label></dt>
		<dd><input type="text" name="word" id="word" value="{WORD}" /></dd>
	</dl>
	<dl>
		<dt><label for="replacement">{L_REPLACEMENT}</label></dt>
		<dd><input class="post" type="text" name="replacement" id="replacement" value="{REPLACEMENT}" /></dd>
	</dl>
	<p align="center">
	{S_HIDDEN_FIELDS}
	<input type="submit" name="save" value="{L_SUBMIT}" class="button1" />
	<input type="reset" value="{L_RESET}" class="button2" />
	</p>
</fieldset>
</form>
