<div class="clear"></div>
<div class="forabg block" style="vertical-align:top;">
	<div class="inner bg1 post" style="margin-bottom:0px">
		<span class="corners-top"><span></span></span>
		<div class="bg2 content" style="margin-top:0x;">
		<div class="box">
			<dl class="textbody">
				<dt class="content" id="message">{U_TEXT}</dt>
			</dl>
		</div>
		</div>
	</div>
	<span class="corners-bottom"><span></span></span>
</div>
<!-- IF DEBUG_QUERIES --><div class="block_data">{LAST_ONLINE_DEBUG}</div><!-- ENDIF -->