.headerbar {
	background-color: #0d386b;
	background-image: -webkit-linear-gradient(top, #9cb6d7 0%, #0d386b 100%);
	background-image: linear-gradient(to bottom, #9cb6d7 0%,#0d386b 100%);
}

.toplogo {
	background-color: #094F0E;
	/* text-align: center; */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 85%;
	background: #ffffff url(/templates/prosilver/theme/images/top.gif) top left repeat-x;
	/*background: #f0f0f0;*/	
}

.forabg, .forumbg {
	background-color: #0d386b;
	background-image: -webkit-linear-gradient(top, #9Eb6d7 0%, #0d386b 35px, #0d386b 100%);
	background-image: linear-gradient(to bottom, #9Eb6d7 0%,#0d386b 35px,#0d386b 100%);
}

.pollbar1, .pollbar2, .pollbar3, .pollbar4 {
	background-color: #0d386b;
}
.pollbar5 { background-color: #9cb6d7; }

.button-search, 
.button-search-end {	
    border: 0.1em solid #7ba60d;
}

.pollbar5 { background-color: #187E1F; }

.action-bar .coloredbutton {
	border-color: #0d386b;
	background-color: #0d386b;
	background-image: -webkit-linear-gradient(top, #9cb6d7 0%, #0d386b 100%);
	background-image: linear-gradient(to bottom, #9cb6d7 0%,#0d386b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cb6d7', endColorstr='#0d386b',GradientType=0 );
}
.action-bar .coloredbutton:hover {
	background-color: #0d386b;
	background-image: -webkit-linear-gradient(top, #0d386b 0%, #9cb6d7 100%);
	background-image: linear-gradient(to bottom, #0d386b 0%,#9cb6d7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d386b', endColorstr='#9cb6d7',GradientType=0 );
}

.pagination li.active span {
	background: #9cb6d7;
	border-color: #9cb6d7;
}

.pagination li a:hover {
	background: #9cb6d7;
	border-color: #9cb6d7;
}

table.table1 td {
    color: #e2e8f3;
}