	<h1>{L_SMILEY_TITLE}</h1>
	<p>{L_SMILEY_EXPLAIN}</p>
	<form method="post" action="{S_SMILEY_ACTION}">
	<fieldset>
		<legend>{L_SMILEY_CONFIG}</legend>
		<dl>
			<dt><label>{L_SMILEY_CODE}</label></dt>
			<dd><input type="text" name="smile_code" value="{SMILEY_CODE}" /></dd>
		</dl>
		<dl>
			<dt><label>{L_SMILEY_URL}</label></dt>
			<dd><select name="smile_url" onchange="update_smiley(this.options[selectedIndex].value);">{S_FILENAME_OPTIONS}</select> &nbsp; <img name="smiley_image" src="{SMILEY_IMG}" alt="" /></dd>
		</dl>
		<dl>
			<dt><label>{L_SMILEY_EMOTION}</label></dt>
			<dd><input type="text" name="smile_emotion" value="{SMILEY_EMOTICON}" /></dd>
		</dl>
		<dl>
			<dt><label>{L_WIDTH}</label></dt>
			<dd><input type="text" name="smile_width" value="{SMILEY_WIDTH}" /></dd>
		</dl>
		<dl>
			<dt><label>{L_HEIGHT}</label></dt>
			<dd><input type="text" name="smile_height" value="{SMILEY_HEIGHT}" /></dd>
		</dl>
		<dl>
			<dt>{L_DISPLAY_ON_POSTING}</dt>
			<dd>			
			<input type="checkbox" class="radio" name="display_on_posting[{SMILEY_IMG}]"{POSTING_CHECKED} onclick="toggle_select('{A_SMILEY_IMG}', this.checked, '{S_ROW_COUNT}');"/>
			<!-- IF S_ID -->
				<input type="hidden" name="id[{SMILEY_IMG}]" value="{ID}" />
			<!-- ENDIF -->
			</dd>			
		</dl>		
		<dl>
			<dt><label>{L_ORDER}</label></dt>
			<dd><input type="text" name="smile_order" value="{SMILEY_ORDER}" /></dd>
		</dl>		
	<p class="submit-buttons">
		{S_HIDDEN_FIELDS}
		<input class="button1" type="submit" name="import" value="{L_SUBMIT}" />
	</p>
	</fieldset>
	</form>