		<!-- EVENT overall_footer_content_after -->
	</div>

<!-- EVENT overall_footer_page_body_after -->

</div>

<div class="main_footer">
<div id="page-footer" class="page-footer" role="contentinfo">




<!--
	We request you retain the full copyright notice below including the link to mxpcms.sourceforge.net (and www.phpbb.com if you are using MXP with phpbb).
	This not only gives respect to the large amount of time given freely by the developers
	but also helps build interest, traffic and use of MXP. If you cannot (for good
	reason) retain the full copyright we request you at least leave in place the
	Powered by MXP line, with MXP linked to mxpcms.sourceforge.net. If you refuse
	to include even this then support on our forums may be affected.

	The MX-Publisher Team : 2008 & The phpBB Group : 2002
// -->
	

	<div class="copyright">
		<!-- EVENT overall_footer_copyright_prepend -->

		{POWERED_BY} <a href="http://mxpcms.sourceforge.net/" target="_mx-publisher" class="copyright">MX-Publisher (MXP)</a> {MX_VERSION} &copy; 2001-2008 <!-- IF PHPBB_BACKEND --> &amp; <a href="http://www.phpbb.com/" target="_phpbb" class="copyright">phpBB</a> {PHPBB_VERSION} &copy; 2001, 2003 phpBB Group <!-- ENDIF --> | <a href="{MXBB_EXTRA_URL}" target="_phpbb" class="copyright">{MXBB_EXTRA}</a>
		<p class="footer-row">
			<span class="footer-copyright">{{ CREDIT_LINE }}</span>
		</p>
		
		<!-- IF TRANSLATION_INFO -->
		<p class="footer-row">
			<span class="footer-copyright">{{ TRANSLATION_INFO }}</span>
		</p>
		<!-- ENDIF -->
		
		<!-- This displays generation info at the bottom of the page -->
		<br />{EXECUTION_STATS}
		<br />{MX_ADDITIONAL_FOOTER_TEXT}
		
		<!-- EVENT overall_footer_copyright_append -->
		<p class="footer-row">
			<a class="footer-link" href="{{ U_PRIVACY }}" title="{{ lang('PRIVACY_LINK') }}" role="menuitem">
				<span class="footer-link-text">{{ lang('PRIVACY_LINK') }}</span>
			</a>
			|
			<a class="footer-link" href="{{ U_TERMS_USE }}" title="{{ lang('TERMS_LINK') }}" role="menuitem">
				<span class="footer-link-text">{{ lang('TERMS_LINK') }}</span>
			</a>
		</p>
		
		<!-- IF DEBUG_OUTPUT -->
		<p class="footer-row">
			<span class="footer-info">{{ DEBUG_OUTPUT }}</span>
		</p>
		<!-- ENDIF -->
		
		<!-- IF U_ACP -->
		<p class="footer-row">
			<a class="footer-link text-strong" href="{{ U_ACP }}">{{ lang('ACP') }}</a>
		</p>
		<!-- ENDIF -->
	</div>

	<div id="darkenwrapper" class="darkenwrapper" data-ajax-error-title="{L_AJAX_ERROR_TITLE}" data-ajax-error-text="{L_AJAX_ERROR_TEXT}" data-ajax-error-text-abort="{L_AJAX_ERROR_TEXT_ABORT}" data-ajax-error-text-timeout="{L_AJAX_ERROR_TEXT_TIMEOUT}" data-ajax-error-text-parsererror="{L_AJAX_ERROR_TEXT_PARSERERROR}">
		<div id="darken" class="darken">&nbsp;</div>
	</div>

	<div id="phpbb_alert" class="phpbb_alert" data-l-err="{L_ERROR}" data-l-timeout-processing-req="{L_TIMEOUT_PROCESSING_REQ}">
		<a href="#" class="alert_close">
			<i class="icon fa-times-circle fa-fw" aria-hidden="true"></i>
		</a>
		<h3 class="alert_title">&nbsp;</h3><p class="alert_text"></p>
	</div>
	<div id="phpbb_confirm" class="phpbb_alert">
		<a href="#" class="alert_close">
			<i class="icon fa-times-circle fa-fw" aria-hidden="true"></i>
		</a>
		<div class="alert_text"></div>
	</div>
</div>

</div>

<div>
	<a id="bottom" class="anchor" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

<script type="text/javascript" src="{T_JQUERY_LINK}"></script>
<!-- IF S_ALLOW_CDN --><script type="text/javascript">window.jQuery || document.write('\x3Cscript src="{T_ASSETS_PATH}/javascript/jquery.min.js?assets_version={T_ASSETS_VERSION}">\x3C/script>');</script><!-- ENDIF -->
<script type="text/javascript" src="{T_ASSETS_PATH}/javascript/core.js?assets_version={T_ASSETS_VERSION}"></script>

<script type="text/javascript" src="{T_TEMPLATE_PATH}/jquery.cookie.js"></script>

<!-- IF S_REGISTERED_USER and S_DISPLAY_PM and S_NOTIFICATIONS_DISPLAY -->
<script type="text/javascript" src="{T_TEMPLATE_PATH}/sidebar.js"></script>
<!-- ENDIF -->

<!-- INCLUDEJS forum_fn.js -->
<!-- INCLUDEJS ajax.js -->
<!-- IF S_ALLOW_CDN -->
	<script type="text/javascript">
		(function($){
			var $fa_cdn = $('head').find('link[rel="stylesheet"]').first(),
				$span = $('<span class="fa" style="display:none"></span>').appendTo('body');
			if ($span.css('fontFamily') !== 'FontAwesome' ) {
				$fa_cdn.after('<link href="{T_ASSETS_PATH}/css/font-awesome.min.css" rel="stylesheet">');
				$fa_cdn.remove();
			}
			$span.remove();
		})(jQuery);
	</script>
<!-- ENDIF -->

<!-- IF S_COOKIE_NOTICE -->
	<script src="{T_ASSETS_PATH}/cookieconsent/cookieconsent.min.js?assets_version={T_ASSETS_VERSION}"></script>
	<script>
		if (typeof window.cookieconsent === "object") {
		window.addEventListener("load", function(){
			window.cookieconsent.initialise({
				"palette": {
					"popup": {
						"background": "#0F538A"
					},
					"button": {
						"background": "#E5E5E5"
					}
				},
				"theme": "classic",
				"content": {
					"message": "{LA_COOKIE_CONSENT_MSG}",
					"dismiss": "{LA_COOKIE_CONSENT_OK}",
					"link": "{LA_COOKIE_CONSENT_INFO}",
					"href": "{UA_PRIVACY}"
					}
				});
			});
		}
	</script>
<!-- ENDIF -->

<!-- EVENT overall_footer_after -->

<!-- IF S_PLUPLOAD --><!-- INCLUDE plupload.html --><!-- ENDIF -->
{$SCRIPTS}

<!-- EVENT overall_footer_body_after -->

<!-- IF S_REGISTERED_USER and S_DISPLAY_PM and S_NOTIFICATIONS_DISPLAY -->
<div class="chatsidebar">
<!-- INCLUDE sidebar_content.html -->
<div class="sidebargear">
<a class="sidebarhandle" href="#" title="{L_CLOSE_WINDOW}"><i class="icon fa-cog fa-fw" aria-hidden="true"></i></a>
</div>
</div>
<div class="sidebarclosed">
<div class="sidebarclosedcontent">{NOTIFICATIONS_COUNT} {L_NOTIFICATIONS}{PRIVATE_MESSAGE_COUNT} {L_NEW_MESSAGES}</div>
<div class="footergear">
<a class="handle" href="#" title="{L_EXPAND_VIEW}"><i class="icon fa-cog fa-fw" aria-hidden="true"></i></a>
</div>
</div>
<!-- ENDIF -->
</body>
</html>