<!-- BEGIN postrow -->
<div class="clear"></div>
<div class="forabg block">
	<div id="p1" class="post bg2 online">
		<div class="inner"><span class="corners-top"><span></span></span>
			<dl class="textbody">
				<dt>
					<p>
						<a href="{postrow.U_TOPIC_URL}">
						<img src="{postrow.IMAGE}" align="right" hspace="5" vspace="5" border="1" title="{postrow.TITLE}" alt="{postrow.TITLE}" />
						</a>
						<a href="{postrow.U_LAST_POST_URL}" class="topictitle">
						<img src="{postrow.FOLDER_IMG}" alt="{postrow.L_TOPIC_FOLDER_ALT}" title="{postrow.L_TOPIC_FOLDER_ALT}" border="0" align="absmiddle" /></a>
						<a href="{postrow.U_TOPIC_URL}" class="topictitle">{postrow.TITLE}</a>
					</p>
					<span class="postbody">{postrow.MESSAGE}</span>
				</dt>
			</dl>
		</div>
	</div>
	<div id="p1" class="post bg2 online">
		<div class="inner"><span class="corners-top"><span></span></span>
			<dl class="textbody">
				<dt style="vertical-align:middle; text-align:center;"><span class="gensmall">{postrow.L_AUTHOR}:&nbsp;<a href="{postrow.U_PROFILE_POSTER}">{postrow.POSTER_NAME}</a></span></dt>
				<dt style="vertical-align:middle; text-align:center;"><span class="gensmall">{postrow.L_POSTED}:<br />{postrow.FIRST_POST_TIME}</span></dt>
				<dt style="vertical-align:middle; text-align:center;"><span class="postdetails">{postrow.L_REPLIES}:<br />{postrow.REPLIES}</span></dt>
				<dt style="vertical-align:middle; text-align:center;"><span class="postdetails">{postrow.L_VIEWS}:<br />{postrow.VIEWS}</span></dt>
				<dt style="vertical-align:middle; text-align:center;"><span class="postdetails">{postrow.L_LASTPOST}:<br />{postrow.LAST_POST_TIME}&nbsp;{postrow.LAST_POST_AUTHOR}&nbsp;{postrow.LAST_POST_IMG}</span></dt>
			</dl>
		</div>
	</div>
	<span class="corners-bottom"><span></span></span>
</div>
<br clear="all" />
<!-- END postrow -->