<div class="clear"></div>
<div class="forabg block" style="vertical-align:top; width:{BLOCK_SIZE};">
<div class="inner">
	<!-- BEGIN no_glance_news_and_recent -->
	<dl>
		<dt class="row1" style="text-align:left;">{no_glance_news_and_recent.L_NO_ITEMS}</dt>
	</dl>
	<!-- END no_glance_news_and_recent -->
	<!-- BEGIN switch_glance_news -->
	<div class="blockbody bg2" style="display:block;">
	<dl>
		<dt class="catLeft" style="height:28;"><span class="cattitle">{NEWS_HEADING}</span></dt>
	</dl>
	<dl>
	<dt class="row1" style="vertical-align:top;"><span class="genmed">
	<ul class="topiclist topics">
	<!-- END switch_glance_news -->
		<!-- BEGIN latest_news -->
		<li class="row<!-- IF latest_news.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF --><!-- IF latest_news.S_POST_ANNOUNCE --> announce<!-- ENDIF --><!-- IF latest_news.S_POST_STICKY --> sticky<!-- ENDIF --><!-- IF latest_news.S_TOPIC_REPORTED --> reported<!-- ENDIF -->">
			<dl class="icon">
				<a href="{latest_news.U_VIEW_TOPIC}"><!-- IF latest_news.TOPIC_FOLDER_IMG_SRC -->{latest_news.NEWEST_POST_IMG}<!-- ENDIF --></a> <a href="{latest_news.U_VIEW_TOPIC}" class="topictitle">{latest_news.TOPIC_TITLE}</a>
			</dl>
			<dl style="text-align:right">
				<span class="gensmall" nowrap="nowrap">{latest_news.TOPIC_TIME}</span>
			</dl>
		</li>
	<!-- END latest_news -->
	<!-- BEGIN switch_glance_news -->
		<dl style="vertical-align:middle;">
			<dt style="text-align:right" class="cat"><span class="gensmall">{switch_glance_news.PREV_URL}&nbsp;&nbsp;{switch_glance_news.NEXT_URL}&nbsp;&nbsp;</span></dt>
		</dl>
	</ul>
	</span></dt>
	</dl>
	</div>
	<!-- END switch_glance_news -->
	<!-- BEGIN switch_glance_recent -->
	<div class="blockbody bg2" style="display:block;">
	<dl>
		<dt class="catLeft" style="height:28;"><span class="cattitle">{RECENT_HEADING}</span></dt>
	</dl>
	<dl> 
	<dt><span class="genmed">
	<ul class="topiclist topics">
	<!-- END switch_glance_recent -->
	<!-- BEGIN latest_topics -->
		<li class="row<!-- IF latest_topics.S_ROW_COUNT is even --> bg1<!-- ELSE --> bg2<!-- ENDIF --><!-- IF latest_topics.S_POST_ANNOUNCE --> announce<!-- ENDIF --><!-- IF latest_topics.S_POST_STICKY --> sticky<!-- ENDIF --><!-- IF latest_topics.S_TOPIC_REPORTED --> reported<!-- ENDIF -->">
			<dl class="icon">
				<div style="float:left">
					<a href="{latest_topics.U_VIEW_TOPIC}"><!-- IF latest_topics.TOPIC_FOLDER_IMG_SRC -->{latest_topics.NEWEST_POST_IMG}<!-- ENDIF --></a> <a href="{latest_topics.U_VIEW_TOPIC}" class="topictitle">{latest_topics.TOPIC_TITLE}</a>
					<br />
					<span class="gensmall"><a href="{latest_topics.U_VIEW_FORUM}"title="{latest_topics.FORUM_TITLE}" class="gensmall">{latest_topics.FORUM_TITLE}</a></span>
				</div>
			</dl>
			<dl style="text-align:right">
				<span class="lastpost" nowrap="nowrap">{latest_topics.LAST_POST_TIME}
				<br />{latest_topics.TOPIC_AUTHOR_FULL} {latest_topics.LAST_POSTER_FULL}</span>
				<span class="posts" nowrap="nowrap">({latest_topics.TOPIC_REPLIES}) {L_COMMENTS}</span>
			</dl>
		</li>
	<!-- END latest_topics -->
	<!-- BEGIN switch_glance_recent -->
	<dl valign="middle">
		<dt style="text-align:right" class="cat"><span class="gensmall">{switch_glance_recent.PREV_URL}&nbsp;&nbsp;{switch_glance_recent.NEXT_URL}&nbsp;&nbsp;</span></dt>
	</dl>
	</ul>
	</span></dt>
	</dl>
	</div>
	<!-- END switch_glance_recent -->
	</div>
	<span class="corners-bottom"><span></span></span>	
</div>
<br clear="all" />